<div class="container-top-bar top-flow"  style="margin-top: 2.5rem;"
     fxLayout="row wrap"
     fxLayoutAlign="start center"
     fxLayoutGap="20px">
	
	<!-- Area Filter -->
	<mat-form-field class="filter">
		<mat-label>Area</mat-label>
		<mat-select [(ngModel)]="selectedArea" (ngModelChange)="onAreaChange()">
			<mat-option value="all">Semua Area</mat-option>
			<mat-option value="SBR">SBR Area</mat-option>
			<mat-option value="SGT">SGT Area</mat-option>
		</mat-select>
	</mat-form-field>

	<!-- Date Filters -->
	<mat-form-field class="filter">
		<mat-label>Start Date</mat-label>
		<input matInput class="input-hidden" [matDatepicker]="start_datePicker" [formControl]="start_dateControl" (dateChange)="start_dateChange($event)" disabled>
		<input matInput [(ngModel)]="start_dateInput" disabled>
		<mat-datepicker-toggle matSuffix [for]="start_datePicker" [disabled]="isLoadingResults"></mat-datepicker-toggle>
		<mat-datepicker #start_datePicker disabled="false"></mat-datepicker>
	</mat-form-field>

	<mat-form-field class="filter">
		<mat-label>End Date</mat-label>
		<input matInput class="input-hidden" [matDatepicker]="end_datePicker" [formControl]="end_dateControl" (dateChange)="end_dateChange($event)" disabled>
		<input matInput [(ngModel)]="end_dateInput" disabled>
		<mat-datepicker-toggle matSuffix [for]="end_datePicker" [disabled]="isLoadingResults"></mat-datepicker-toggle>
		<mat-datepicker #end_datePicker disabled="false"></mat-datepicker>
	</mat-form-field>

	<!-- Quadrant Line Inputs -->
	<mat-form-field class="filter">
		<mat-label>Kuadran X (SM)</mat-label>
		<input matInput
		       type="number"
		       [(ngModel)]="quadrantX"
		       (input)="updateQuadrantLines()">
	</mat-form-field>

	<mat-form-field class="filter">
		<mat-label>Kuadran Y (%)</mat-label>
		<input matInput
		       type="number"
		       [(ngModel)]="quadrantY"
		       (input)="updateQuadrantLines()">
	</mat-form-field>

</div>

<!-- Axis Sliders -->
<div class="container-top-bar top-flow"
     fxLayout="row"
     fxLayoutAlign="start center"
     fxLayoutGap="20px">

 	<div fxFlex>
		<div class="slider-label">Y Axis Max (%)</div>
		<input type="range"
		       min="10"
		       max="300"
		       step="5"
		       class="custom-slider"
		       [(ngModel)]="yAxisMax"
		       (input)="updateYAxis($event)">
		<div class="slider-value">
			Max: <b>{{ yAxisMax }} %</b>
		</div>
	</div>

 	<div fxFlex>
		<div class="slider-label">X Axis Max (%)</div>
		<input type="range"
		       min="10"
		       max="300"
		       step="5"
		       class="custom-slider"
		       [(ngModel)]="xAxisMax"
		       (input)="updateXAxis($event)">
		<div class="slider-value">
			Max: <b>{{ xAxisMax }} %</b>
		</div>
	</div>
</div>

<div class="top-flow" fxLayout="column" fxLayoutGap="20px">
	<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start left">
		
	</div>
	<mat-card class="chart-card">
		<div #quadrant_chart_el style="height: 500px;"></div>
	</mat-card>
	
</div>

<!-- Table Section - Shown below chart when well is selected -->
<div class="top-flow" fxLayout="column" fxLayoutGap="20px">
	<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start left">
		
	</div>
	<mat-card style="margin-top: 20px;">
		<mat-card-content style="width: 100%;">
			<h4 class="title_awy">Data Optimasi {{ selectedArea == 'all' ? 'Semua Area' : selectedArea + ' area' }}</h4>

			<!-- no data -->
			<div [hidden]="allItems.length > 0" class="no-data">
				<p>No data available</p>
			</div>

			<div
				[hidden]="allItems.length === 0"
				class="container-table"
				[style.max-height]="
				commonService.Math.max(commonService.screenHeight - 180, 250) + 'px'
				"
			>
				<table
				mat-table
				[dataSource]="dataSource"
				class="pe-table"
				matSort
				matSortActive="well"
				matSortDisableClear
				matSortDirection="asc"
				>
				<ng-container matColumnDef="select">
					<th mat-header-cell *matHeaderCellDef rowspan="2">
					<mat-checkbox
						(change)="$event && !isEditing ? masterToggle() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()"
						[aria-label]="checkboxLabel()"
						[disabled]="isEditing"
						*ngIf="pePermissionService.passPermission('pe/daily/delete')"
					>
					</mat-checkbox>
					</th>
					<td mat-cell *matCellDef="let row">
					<mat-checkbox
						(click)="$event.stopPropagation()"
						(change)="$event && !isEditing ? selection.toggle(row) : null"
						[checked]="selection.isSelected(row)"
						[aria-label]="checkboxLabel(row)"
						[disabled]="isEditing"
						*ngIf="pePermissionService.passPermission('pe/daily/delete')"
					>
					</mat-checkbox>
					</td>
				</ng-container>

				<ng-container matColumnDef="date">
					<!-- <th mat-header-cell *matHeaderCellDef rowspan="2">
					<div fxLayout="row" fxLayoutAlign="start center">
						<span mat-sort-header arrowPosition="before" class="mat-sort-header"
						>Date</span
						>
						<app-xfilter
						title="Date"
						column="date"
						format="date"
						[selected]="date_xSelected"
						></app-xfilter>
					</div>
					</th> -->
					<td
					mat-cell
					*matCellDef="let row"
					class="cell-center"
					[class.clicked_row]="selection.isSelected(row)"
					>
					{{ row.date ? (row.date | date: 'dd MMM y') : '-' }}
					</td>
				</ng-container>
				<ng-container matColumnDef="well">
					<th mat-header-cell *matHeaderCellDef rowspan="2">
					<div fxLayout="row" fxLayoutAlign="start center">
						<span mat-sort-header arrowPosition="before" class="mat-sort-header"
						>Well</span
						>
						<app-xfilter
						title="Well"
						column="well"
						[selected]="well_xSelected"
						></app-xfilter>
					</div>
					</th>
					<td
					mat-cell
					*matCellDef="let row"
					class="cell-center"
					[class.clicked_row]="selection.isSelected(row)"
					>
					{{ row.well }}
					</td>
				</ng-container>
				<!-- <ng-container matColumnDef="last_prod"> -->
				<!-- <th mat-header-cell *matHeaderCellDef colspan="3">Last Production</th> -->
				<!-- </ng-container> -->
				<ng-container matColumnDef="avg_sm">
					<th mat-header-cell *matHeaderCellDef>
					<div fxLayout="row" fxLayoutAlign="start center">
						<span mat-sort-header arrowPosition="before" class="mat-sort-header"
						>Avg SM</span
						>
						<app-xfilter
						title="Avg SM"
						column="avg_sm"
						format="number"
						[selected]="avg_sm_xSelected"
						></app-xfilter>
					</div>
					</th>
					<td
					mat-cell
					*matCellDef="let row"
					class="cell-right"
					[class.clicked_row]="selection.isSelected(row)"
					>
					{{ (row.avg_sm | number: '1.2-2') || '-' }}
					</td>
				</ng-container>
				<ng-container matColumnDef="avg_ds_efficiency">
					<th mat-header-cell *matHeaderCellDef>
					<div fxLayout="row" fxLayoutAlign="start center">
						<span mat-sort-header arrowPosition="before" class="mat-sort-header"
						>Avg Efficiency</span
						>
						<app-xfilter
						title="Avg Efficiency"
						column="avg_ds_efficiency"
						format="number"
						[selected]="avg_ds_efficiency_xSelected"
						></app-xfilter>
					</div>
					</th>
					<td
					mat-cell
					*matCellDef="let row"
					class="cell-right"
					[class.clicked_row]="selection.isSelected(row)"
					>
					{{ row.avg_ds_efficiency | number:'1.0-2' }}%

					</td>
				</ng-container>
				<ng-container matColumnDef="remarks">
					<th mat-header-cell *matHeaderCellDef>
						<div fxLayout="row" fxLayoutAlign="start center">
						<span class="mat-sort-header">Remarks</span>
						</div>
					</th>
					<td mat-cell *matCellDef="let row" [class.clicked_row]="selection.isSelected(row)"
						(click)="$event.stopPropagation()">
						
						<!-- Mode view -->
						<span *ngIf="!row.isRemarkEdit">
						{{ row.quadrant_remark || '-' }}
						</span>

						<!-- Mode edit -->
						<mat-form-field *ngIf="row.isRemarkEdit" appearance="outline" style="width: 100%;">
						<input matInput
								[(ngModel)]="row.quadrant_remark"
								placeholder="Add remark...">
						</mat-form-field>

					</td>
					</ng-container>

					<ng-container matColumnDef="action" stickyEnd>
					<th mat-header-cell *matHeaderCellDef class="cell-center action-column">Action</th>
					<td mat-cell *matCellDef="let row" class="cell-center action-column"
						(click)="$event.stopPropagation()">

						<!-- Tombol edit -->
						<button mat-icon-button color="primary"
								*ngIf="!row.isRemarkEdit"
								(click)="editRemark(row)"
								matTooltip="Edit Remark">
						<mat-icon>edit</mat-icon>
						</button>

						<!-- Tombol save & cancel -->
						<ng-container *ngIf="row.isRemarkEdit">
						<button mat-icon-button color="accent"
								(click)="saveRemark(row)"
								[disabled]="savingRows.has(row.well)"
								matTooltip="Save">
							<mat-icon>check</mat-icon>
						</button>
						<button mat-icon-button color="warn"
								(click)="cancelRemark(row)"
								matTooltip="Cancel">
							<mat-icon>close</mat-icon>
						</button>
						</ng-container>

					</td>
					</ng-container>

				<ng-container matColumnDef="Actions">
					<th mat-header-cell *matHeaderCellDef rowspan="2">Action</th>
					<td mat-cell *matCellDef="let row">
					<!--button mat-button *ngIf="passPermission('/pe/daily/edit')" [routerLink]="['/', 'presence','device', 'edit', row.PE_TICKET_ID]" matTooltip="Edit Device" ><mat-icon>edit</mat-icon></button>
				<button mat-button *ngIf="passPermission('/pe/daily/delete')" (click)="deletePeDaily(row.PE_TICKET_ID)" matTooltip="Delete Device"><mat-icon>delete</mat-icon></button-->
					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="headerColumns1; sticky: true"></tr>
				<!--<tr mat-header-row *matHeaderRowDef='headerColumns2; sticky: true'></tr> -->
				<tr
					mat-row
					*matRowDef="let row; columns: displayedColumns"
					(click)="!isEditing ? selection.toggle(row) : null"
				></tr>
				</table>
			</div>

			<mat-paginator
				[length]="resultsLength"
				[pageSizeOptions]="[50, 100, 500, 1000]"
			></mat-paginator>
		</mat-card-content>
	</mat-card>
</div>
