:host ::ng-deep {
  
  .mat-tab-labels {
    justify-content: flex-end ;
  }

  .mat-tab-label {
    height: 32px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 5px !important;
  }

  .mat-form-field-wrapper .mat-form-field-underline {
    bottom: 5px !important;
  }

  .mat-form-field-wrapper .mat-form-field-infix {
    padding: 5px !important;
  }

  .mat-radio-group {
    padding-top: 14px;
    font-size: 14px;
  }

  .mat-radio-group .mat-radio-button {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .container-top-bar {
    padding-top: 10px !important;
  }
} 