<div class="container-content" [ngClass.gt-md]="'top-flow'" [ngClass.lt-lg]="'top-flow-xs'">
	<mat-tab-group mat-align-tabs="right">
		<mat-tab label="Annual">
			<div class="container-top-bar" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start left">
				<mat-form-field class="filter" >
					<mat-label>Year</mat-label>
					<input matInput class="input-hidden" [matDatepicker]="annual_datePicker" [max]="maxDate" [formControl]="annual_dateControl" disabled>
					<input matInput [(ngModel)]="annual_dateInput" disabled>
					<mat-datepicker-toggle matSuffix [for]="annual_datePicker" [disabled]="isLoadingResults"></mat-datepicker-toggle>
					<mat-datepicker #annual_datePicker startView="multi-year" disabled="false" (yearSelected)="annual_dateChange($event)"></mat-datepicker>
				</mat-form-field>

				<mat-radio-group [(ngModel)]="grouping" [formControl]="annual_radioControl">
					<mat-radio-button value="well">Well</mat-radio-button>
					<mat-radio-button value="structure">Structure</mat-radio-button>
				</mat-radio-group>

				<button mat-button color="primary" (click)="exportExcel('annual')" [disabled]="isLoadingResults">Export to Excel</button>
			</div>
			<div class="loading-shade" *ngIf="isLoadingResults">
		    	<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
		  	</div>
			<div class="container-table" [style.max-height]="(commonService.Math.max(commonService.screenHeight - 220, 250))+'px'">
				<table mat-table [dataSource]="data_annual" class="pe-table" matSort #sort_annual="matSort" matSortActive="well" matSortDisableClear matSortDirection="asc">

					<ng-container matColumnDef="well" *ngIf="grouping=='well'" sticky>
				      <th mat-header-cell *matHeaderCellDef rowspan="2">
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Well</span>
				          <app-xfilter title="Well" column="well" [selected]="well_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" (click)="openChart(row.well)">{{row.well}}</td>
				    </ng-container>

				    <ng-container matColumnDef="structure" *ngIf="grouping=='structure'" sticky>
				      <th mat-header-cell *matHeaderCellDef rowspan="2">
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Structure</span>
				          <app-xfilter title="Structure" column="structure" [selected]="structure_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" >{{row.structure}}</td>
				    </ng-container>

				    <ng-container matColumnDef="annual">
				      	<th mat-header-cell *matHeaderCellDef colspan="12">{{curr_annual}}</th>
				    </ng-container>

				    <ng-container matColumnDef="m1">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Jan</span>
				          <app-xfilter title="Jan" column="m1" format="number" [selected]="m1_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.m1 | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="m2">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Feb</span>
				          <app-xfilter title="Feb" column="m2" format="number" [selected]="m2_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.m2 | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="m3">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Mar</span>
				          <app-xfilter title="Mar" column="m3" format="number" [selected]="m3_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.m3 | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="m4">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Apr</span>
				          <app-xfilter title="Apr" column="m4" format="number" [selected]="m4_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.m4 | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="m5">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">May</span>
				          <app-xfilter title="May" column="m5" format="number" [selected]="m5_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.m5 | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="m6">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Jun</span>
				          <app-xfilter title="Jun" column="m6" format="number" [selected]="m6_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.m6 | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="m7">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Jul</span>
				          <app-xfilter title="Jul" column="m7" format="number" [selected]="m7_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.m7 | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="m8">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Aug</span>
				          <app-xfilter title="Aug" column="m8" format="number" [selected]="m8_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.m8 | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="m9">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Sep</span>
				          <app-xfilter title="Sep" column="m9" format="number" [selected]="m9_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.m9 | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="m10">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Oct</span>
				          <app-xfilter title="Oct" column="m10" format="number" [selected]="m10_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.m10 | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="m11">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Nov</span>
				          <app-xfilter title="Nov" column="m11" format="number" [selected]="m11_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.m11 | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="m12">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Dec</span>
				          <app-xfilter title="Dec" column="m12" format="number" [selected]="m12_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.m12 | number : '1.0-0') || '-'}}</td>
				    </ng-container>

				    <tr mat-header-row *matHeaderRowDef="[grouping,'annual']; sticky: true"></tr>
				    <tr mat-header-row *matHeaderRowDef="['m1','m2','m3','m4','m5','m6','m7','m8','m9','m10','m11','m12']; sticky: true"></tr>
				   	<tr mat-row *matRowDef="let row; columns: [grouping,'m1','m2','m3','m4','m5','m6','m7','m8','m9','m10','m11','m12'];" ></tr>
				 </table>
			</div>
			<mat-paginator #paginator_annual [length]="resultsLength_annual"  [pageSizeOptions]="[50, 100, 500, 1000]"></mat-paginator>
		</mat-tab>

		<mat-tab label="Monthly">
			<div class="container-top-bar" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start left">

				<mat-form-field class="filter" >
					<mat-label>Month 1</mat-label>
					<input matInput class="input-hidden" [matDatepicker]="monthly_prev_datePicker" [max]="maxDate" [formControl]="monthly_prev_dateControl" disabled>
					<input matInput [(ngModel)]="monthly_prev_dateInput" disabled>
					<mat-datepicker-toggle matSuffix [for]="monthly_prev_datePicker" [disabled]="isLoadingResults"></mat-datepicker-toggle>
					<mat-datepicker #monthly_prev_datePicker startView="year" disabled="false" (monthSelected)="monthly_prev_dateChange($event)"></mat-datepicker>
				</mat-form-field>

				<mat-form-field class="filter" >
					<mat-label>Month 2</mat-label>
					<input matInput class="input-hidden" [matDatepicker]="monthly_datePicker" [max]="maxDate" [formControl]="monthly_dateControl" disabled>
					<input matInput [(ngModel)]="monthly_dateInput" disabled>
					<mat-datepicker-toggle matSuffix [for]="monthly_datePicker" [disabled]="isLoadingResults"></mat-datepicker-toggle>
					<mat-datepicker #monthly_datePicker startView="year" disabled="false" (monthSelected)="monthly_dateChange($event)"></mat-datepicker>
				</mat-form-field>

				<mat-radio-group [(ngModel)]="grouping" [formControl]="monthly_radioControl">
					<mat-radio-button value="well">Well</mat-radio-button>
					<mat-radio-button value="structure">Structure</mat-radio-button>
				</mat-radio-group>

				<button mat-button color="primary" (click)="exportExcel('monthly')" [disabled]="isLoadingResults">Export to Excel</button>
			</div>

			<div class="container-table" [style.max-height]="(commonService.screenHeight - 220)+'px'">
				<div class="loading-shade" *ngIf="isLoadingResults">
			    	<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
			  	</div>
				<table mat-table [dataSource]="data_monthly" class="pe-table" matSort #sort_monthly="matSort" matSortActive="date" matSortDisableClear matSortDirection="desc">

					<ng-container matColumnDef="well" *ngIf="grouping=='well'" sticky>
				      <th mat-header-cell *matHeaderCellDef rowspan="3">
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Well</span>
				          <app-xfilter title="Well" column="well" [selected]="well_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-center">{{row.well}}</td>
				    </ng-container>

				    <ng-container matColumnDef="structure" *ngIf="grouping=='structure'" sticky>
				      <th mat-header-cell *matHeaderCellDef rowspan="3">
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Structure</span>
				          <app-xfilter title="Structure" column="structure" [selected]="structure_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" >{{row.structure}}</td>
				    </ng-container>

				    <ng-container matColumnDef="monthly">
				      	<th mat-header-cell *matHeaderCellDef colspan="9">Monthly</th>
				    </ng-container>

				   	<ng-container matColumnDef="previous">
				      	<th mat-header-cell *matHeaderCellDef colspan="3">{{prev_monthly}}</th>
				    </ng-container>

					<ng-container matColumnDef="gross_prev">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gross</span>
				          <app-xfilter title="Gross" column="gross_prev" format="number" [selected]="gross_prev_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.gross_prev | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="net_prev">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Net</span>
				          <app-xfilter title="Net" column="net_prev" format="number" [selected]="net_prev_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.net_prev | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="wc_prev">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">WC</span>
				          <app-xfilter title="WC" column="wc_prev" format="number" [selected]="wc_prev_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.wc_prev | percent : '1.0-0') || '-'}}</td>
				    </ng-container>

				    <ng-container matColumnDef="current">
				      	<th mat-header-cell *matHeaderCellDef colspan="3">{{curr_monthly}}</th>
				    </ng-container>

					<ng-container matColumnDef="gross">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gross</span>
				          <app-xfilter title="Gross" column="gross" format="number" [selected]="gross_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.gross | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="net">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Net</span>
				          <app-xfilter title="Net" column="net" format="number" [selected]="net_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.net | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="wc">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">WC</span>
				          <app-xfilter title="WC" column="wc" format="number" [selected]="wc_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.wc | percent : '1.0-0') || '-'}}</td>
				    </ng-container>

				   	<ng-container matColumnDef="gap">
				      	<th mat-header-cell *matHeaderCellDef colspan="3">Gain/Loss</th>
				    </ng-container>

					<ng-container matColumnDef="gross_gap">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gross</span>
				          <app-xfilter title="Gross" column="gross_gap" format="number" [selected]="gross_gap_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right" [style.background-color]="row.gross_gap != null && row.gross_prev!= null ? colorScale(100*row.gross_gap/row.gross_prev, -100, 100) : 'none'">{{(row.gross_gap | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="net_gap">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Net</span>
				          <app-xfilter title="Net" column="net_gap" format="number" [selected]="net_gap_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right" [style.background-color]="row.net_gap != null && row.net_prev != null ? colorScale(100*row.net_gap/row.net_prev, -100, 100) : 'none'">{{(row.net_gap | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="wc_gap">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">WC</span>
				          <app-xfilter title="WC" column="wc_gap" format="number" [selected]="wc_gap_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right" [style.background-color]="row.wc_gap != null ? colorScale(row.wc_gap*100, 100, -100) : 'none'">{{(row.wc_gap | percent : '1.0-0') || '-'}}</td>
				    </ng-container>

				    <tr mat-header-row *matHeaderRowDef="[grouping,'monthly']; sticky: true"></tr>
				    <tr mat-header-row *matHeaderRowDef="['previous','current','gap']; sticky: true"></tr>
				    <tr mat-header-row *matHeaderRowDef="['gross_prev','net_prev','wc_prev','gross','net','wc','gross_gap','net_gap','wc_gap']; sticky: true"></tr>
				   	<tr mat-row *matRowDef="let row; columns: [grouping,'gross_prev','net_prev','wc_prev','gross','net','wc','gross_gap','net_gap','wc_gap'];" ></tr>
				 </table>
			</div>
			<mat-paginator #paginator_monthly [length]="resultsLength_monthly"  [pageSizeOptions]="[50, 100, 500, 1000]"></mat-paginator>
		</mat-tab>

		<mat-tab label="Weekly">
			<div class="container-top-bar" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start left">

				<mat-form-field class="filter" >
					<mat-label>Week 1</mat-label>
					<input matInput class="input-hidden" [matDatepicker]="weekly_prev_datePicker" [max]="maxDate" [formControl]="weekly_prev_dateControl" (dateChange)="weekly_prev_dateChange($event)" disabled>
					<input matInput [(ngModel)]="weekly_prev_dateInput" disabled>
					<mat-datepicker-toggle matSuffix [for]="weekly_prev_datePicker" [disabled]="isLoadingResults"></mat-datepicker-toggle>
					<mat-datepicker #weekly_prev_datePicker disabled="false"></mat-datepicker>
				</mat-form-field>

				<mat-form-field class="filter" >
					<mat-label>Week 2</mat-label>
					<input matInput class="input-hidden" [matDatepicker]="weekly_datePicker" [max]="maxDate" [formControl]="weekly_dateControl" (dateChange)="weekly_dateChange($event)" disabled>
					<input matInput [(ngModel)]="weekly_dateInput" disabled>
					<mat-datepicker-toggle matSuffix [for]="weekly_datePicker" [disabled]="isLoadingResults"></mat-datepicker-toggle>
					<mat-datepicker #weekly_datePicker disabled="false"></mat-datepicker>
				</mat-form-field>

				<mat-radio-group [(ngModel)]="grouping" [formControl]="weekly_radioControl">
					<mat-radio-button value="well">Well</mat-radio-button>
					<mat-radio-button value="structure">Structure</mat-radio-button>
				</mat-radio-group>

				<button mat-button color="primary" (click)="exportExcel('weekly')" [disabled]="isLoadingResults">Export to Excel</button>
			</div>
			<div class="container-table" [style.max-height]="(commonService.screenHeight - 220)+'px'">
				<div class="loading-shade" *ngIf="isLoadingResults">
			    	<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
			  	</div>
				<table mat-table [dataSource]="data_weekly" class="pe-table" matSort #sort_weekly="matSort" matSortActive="date" matSortDisableClear matSortDirection="desc">

					<ng-container matColumnDef="well" *ngIf="grouping=='well'" sticky>
				      <th mat-header-cell *matHeaderCellDef rowspan="3">
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Well</span>
				          <app-xfilter title="Well" column="well" [selected]="well_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-center">{{row.well}}</td>
				    </ng-container>

				    <ng-container matColumnDef="structure" *ngIf="grouping=='structure'" sticky>
				      <th mat-header-cell *matHeaderCellDef rowspan="3">
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Structure</span>
				          <app-xfilter title="Structure" column="structure" [selected]="structure_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" >{{row.structure}}</td>
				    </ng-container>

				    <ng-container matColumnDef="weekly">
				      	<th mat-header-cell *matHeaderCellDef colspan="9">Weekly</th>
				    </ng-container>

				   	<ng-container matColumnDef="previous">
				      	<th mat-header-cell *matHeaderCellDef colspan="3">{{prev_weekly}}</th>
				    </ng-container>

				   	<ng-container matColumnDef="gross_prev">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gross</span>
				          <app-xfilter title="Gross" column="gross_prev" format="number" [selected]="gross_prev_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.gross_prev | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="net_prev">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Net</span>
				          <app-xfilter title="Net" column="net_prev" format="number" [selected]="net_prev_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.net_prev | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="wc_prev">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">WC</span>
				          <app-xfilter title="WC" column="wc_prev" format="number" [selected]="wc_prev_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.wc_prev | percent : '1.0-0') || '-'}}</td>
				    </ng-container>

				    <ng-container matColumnDef="current">
				      	<th mat-header-cell *matHeaderCellDef colspan="3">{{curr_weekly}}</th>
				    </ng-container>

				    <ng-container matColumnDef="gross">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gross</span>
				          <app-xfilter title="Gross" column="gross" format="number" [selected]="gross_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.gross | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="net">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Net</span>
				          <app-xfilter title="Net" column="net" format="number" [selected]="net_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.net | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="wc">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">WC</span>
				          <app-xfilter title="WC" column="wc" format="number" [selected]="wc_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.wc | percent : '1.0-0') || '-'}}</td>
				    </ng-container>

				   	<ng-container matColumnDef="gap">
				      	<th mat-header-cell *matHeaderCellDef colspan="3">Gain/Loss</th>
				    </ng-container>

				   	<ng-container matColumnDef="gross_gap">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gross</span>
				          <app-xfilter title="Gross" column="gross_gap" format="number" [selected]="gross_gap_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right" [style.background-color]="row.gross_gap != null && row.gross_prev!= null ? colorScale(100*row.gross_gap/row.gross_prev, -100, 100) : 'none'">{{(row.gross_gap | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="net_gap">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Net</span>
				          <app-xfilter title="Net" column="net_gap" format="number" [selected]="net_gap_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right" [style.background-color]="row.net_gap != null && row.net_prev != null ? colorScale(100*row.net_gap/row.net_prev, -100, 100) : 'none'">{{(row.net_gap | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="wc_gap">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">WC</span>
				          <app-xfilter title="WC" column="wc_gap" format="number" [selected]="wc_gap_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right" [style.background-color]="row.wc_gap != null ? colorScale(row.wc_gap*100, 100, -100) : 'none'">{{(row.wc_gap | percent : '1.0-0') || '-'}}</td>
				    </ng-container>

				    <tr mat-header-row *matHeaderRowDef="[grouping,'weekly']; sticky: true"></tr>
				    <tr mat-header-row *matHeaderRowDef="['previous','current','gap']; sticky: true"></tr>
				    <tr mat-header-row *matHeaderRowDef="['gross_prev','net_prev','wc_prev','gross','net','wc','gross_gap','net_gap','wc_gap']; sticky: true"></tr>
				   	<tr mat-row *matRowDef="let row; columns: [grouping,'gross_prev','net_prev','wc_prev','gross','net','wc','gross_gap','net_gap','wc_gap'];" ></tr>
				 </table>
			</div>
			<mat-paginator #paginator_weekly [length]="resultsLength_weekly" [pageSizeOptions]="[50, 100, 500, 1000]"></mat-paginator>
		</mat-tab>

		<mat-tab label="Daily">
			<div class="container-top-bar" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start left">

				<mat-form-field class="filter" >
					<mat-label>Date 1</mat-label>
					<input matInput class="input-hidden" [matDatepicker]="daily_prev_datePicker" [max]="maxDate" [formControl]="daily_prev_dateControl" (dateChange)="daily_prev_dateChange($event)" disabled>
					<input matInput [(ngModel)]="daily_prev_dateInput" disabled>
					<mat-datepicker-toggle matSuffix [for]="daily_prev_datePicker" [disabled]="isLoadingResults"></mat-datepicker-toggle>
					<mat-datepicker #daily_prev_datePicker disabled="false"></mat-datepicker>
				</mat-form-field>

				<mat-form-field class="filter" >
					<mat-label>Date 2</mat-label>
					<input matInput class="input-hidden" [matDatepicker]="daily_datePicker" [max]="maxDate" [formControl]="daily_dateControl" (dateChange)="daily_dateChange($event)" disabled>
					<input matInput [(ngModel)]="daily_dateInput" disabled>
					<mat-datepicker-toggle matSuffix [for]="daily_datePicker" [disabled]="isLoadingResults"></mat-datepicker-toggle>
					<mat-datepicker #daily_datePicker disabled="false"></mat-datepicker>
				</mat-form-field>

				<mat-radio-group [(ngModel)]="grouping" [formControl]="daily_radioControl">
					<mat-radio-button value="well">Well</mat-radio-button>
					<mat-radio-button value="structure">Structure</mat-radio-button>
				</mat-radio-group>

				<button mat-button color="primary" (click)="exportExcel('daily')" [disabled]="isLoadingResults">Export to Excel</button>
			</div>
			<div class="container-table" [style.max-height]="(commonService.screenHeight - 220)+'px'">
				<div class="loading-shade" *ngIf="isLoadingResults">
			    	<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
			  	</div>
				<table mat-table [dataSource]="data_daily" class="pe-table" matSort #sort_daily="matSort" matSortActive="date" matSortDisableClear matSortDirection="desc">

					<ng-container matColumnDef="well" *ngIf="grouping=='well'" sticky>
				      <th mat-header-cell *matHeaderCellDef rowspan="3">
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Well</span>
				          <app-xfilter title="Well" column="well" [selected]="well_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-center">{{row.well}}</td>
				    </ng-container>

				    <ng-container matColumnDef="structure" *ngIf="grouping=='structure'" sticky>
				      <th mat-header-cell *matHeaderCellDef rowspan="3">
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Structure</span>
				          <app-xfilter title="Structure" column="structure" [selected]="structure_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" >{{row.structure}}</td>
				    </ng-container>

				    <ng-container matColumnDef="daily">
				      	<th mat-header-cell *matHeaderCellDef colspan="9">Daily</th>
				    </ng-container>

				   	<ng-container matColumnDef="previous">
				      	<th mat-header-cell *matHeaderCellDef colspan="3">{{prev_daily}}</th>
				    </ng-container>

				   	<ng-container matColumnDef="gross_prev">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gross</span>
				          <app-xfilter title="Gross" column="gross_prev" format="number" [selected]="gross_prev_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.gross_prev | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="net_prev">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Net</span>
				          <app-xfilter title="Net" column="net_prev" format="number" [selected]="net_prev_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.net_prev | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="wc_prev">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">WC</span>
				          <app-xfilter title="WC" column="wc_prev" format="number" [selected]="wc_prev_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.wc_prev | percent : '1.0-0') || '-'}}</td>
				    </ng-container>

				    <ng-container matColumnDef="current">
				      	<th mat-header-cell *matHeaderCellDef colspan="3">{{curr_daily}}</th>
				    </ng-container>

				    <ng-container matColumnDef="gross">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gross</span>
				          <app-xfilter title="Gross" column="gross" format="number" [selected]="gross_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.gross | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="net">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Net</span>
				          <app-xfilter title="Net" column="net" format="number" [selected]="net_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.net | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="wc">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">WC</span>
				          <app-xfilter title="WC" column="wc" format="number" [selected]="wc_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right">{{(row.wc | percent : '1.0-0') || '-'}}</td>
				    </ng-container>

				   	<ng-container matColumnDef="gap">
				      	<th mat-header-cell *matHeaderCellDef colspan="3">Gain/Loss</th>
				    </ng-container>

				   	<ng-container matColumnDef="gross_gap">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gross</span>
				          <app-xfilter title="Gross" column="gross_gap" format="number" [selected]="gross_gap_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right" [style.background-color]="row.gross_gap != null && row.gross_prev!= null ? colorScale(100*row.gross_gap/row.gross_prev, -100, 100) : 'none'">{{(row.gross_gap | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="net_gap">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Net</span>
				          <app-xfilter title="Net" column="net_gap" format="number" [selected]="net_gap_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right" [style.background-color]="row.net_gap != null && row.net_prev != null ? colorScale(100*row.net_gap/row.net_prev, -100, 100) : 'none'">{{(row.net_gap | number : '1.0-0') || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="wc_gap">
				      <th mat-header-cell *matHeaderCellDef>
				        <div fxLayout="row" fxLayoutAlign="start center">
				          <span mat-sort-header arrowPosition="before" class="mat-sort-header">WC</span>
				          <app-xfilter title="WC" column="wc_gap" format="number" [selected]="wc_gap_xSelected"></app-xfilter>
				        </div>
				     </th>
				      <td mat-cell *matCellDef="let row" class="cell-right" [style.background-color]="row.wc_gap != null ? colorScale(row.wc_gap*100, 100, -100) : 'none'">{{(row.wc_gap | percent : '1.0-0') || '-'}}</td>
				    </ng-container>

				    <tr mat-header-row *matHeaderRowDef="[grouping,'daily']; sticky: true"></tr>
				    <tr mat-header-row *matHeaderRowDef="['previous','current','gap']; sticky: true"></tr>
				    <tr mat-header-row *matHeaderRowDef="['gross_prev','net_prev','wc_prev','gross','net','wc','gross_gap','net_gap','wc_gap']; sticky: true"></tr>
				   	<tr mat-row *matRowDef="let row; columns: [grouping,'gross_prev','net_prev','wc_prev','gross','net','wc','gross_gap','net_gap','wc_gap'];" ></tr>
				 </table>
			</div>
			<mat-paginator #paginator_daily [length]="resultsLength_daily"  [pageSizeOptions]="[50, 100, 500, 1000]"></mat-paginator>
		</mat-tab>
	</mat-tab-group>
</div>
