.container {
  /*position: relative;*/
  min-height: 200px;
  margin: 2em;
}

.container-top-bar {
  /*position: relative;*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-top-bar button {
  margin: 16px;
}

.container-top-bar button:first-of-type {
  margin-left: 0px !important;
}

.container-top-bar button:first-of-type .mat-icon {
  font-size: 22px;
}

.container-content {
  position: relative;
  min-height: 200px;
}

/* form */

mat-card { 
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

mat-progress-bar {
  width: 332px;
  margin: -16px 0 16px 0 !important;
}

mat-form-field {
   width: 250px;
}

::ng-deep .mat-card-header-text {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

mat-card-content {
  
}

mat-card-actions {
  margin-left: 0;
  margin-right: 0;
}

/* list */

.container-table {
  /*position: relative;*/
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.ticket-table {
  border-top: 1px solid rgba(0,0,0,.12);
}

.ticket-table .mat-header-row {
  height: 40px;
}
.ticket-table .mat-header-row:nth-child(2) .mat-header-cell {
  top: 40px !important;
}
.ticket-table .mat-header-row:nth-child(3) .mat-header-cell {
  top: 80px !important;
}

.ticket-table .mat-header-cell {
  white-space: nowrap;
  padding-right: 7px;
  padding-left: 7px;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,.12);
}

.ticket-table .mat-sort-header {
  padding-top: 0.625em;
}

.ticket-table .mat-row {
  height: 32px;
}

.ticket-table .mat-cell {
  white-space: nowrap;
  padding-right: 7px;
  padding-left: 7px;
}

.ticket-table .cell-center {
  text-align: center;
}
.ticket-table .cell-right {
  text-align: right;
}
.ticket-table .cell-error {
  color: red;
}
.ticket-table .cell-warning {
  color: orange;
}
.ticket-table .mat-cell .mat-icon {
  font-size: 18px;
}

.ticket-table .mat-header-cell .mat-form-field {
  width: auto;
}
::ng-deep .mat-form-field-infix {
  width: auto !important;
}

.priority_low {
  color: #89c341;
}
.priority_medium {
  color: #f1b521;
}
.priority_high {
  color: #f98700;
}


.cell-right {
  text-align: right;
}
.cell-center {
  text-align: center;
}