<!--div class="container-top-bar">
  <mat-form-field>
    <input matInput placeholder="Filter" [formControl]="filterControl">
  </mat-form-field>
</div-->

<div class="container-content">
  
  <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="container-table">

    <table mat-table [dataSource]="data" class="ticket-table"
    matSort matSortActive="submitDate" matSortDisableClear matSortDirection="desc">
    
  <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">id</span>
          <app-xfilter title="id" column="id" [selected]="id_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

  <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">type</span>
          <app-xfilter title="type" column="type" [selected]="type_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.type}}</td>
    </ng-container>

  <ng-container matColumnDef="displayId">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">displayId</span>
          <app-xfilter title="displayId" column="displayId" [selected]="displayId_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.displayId}}</td>
    </ng-container>

  <ng-container matColumnDef="summary">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">summary</span>
          <app-xfilter title="summary" column="summary" [selected]="summary_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.summary}}</td>
    </ng-container>

  <ng-container matColumnDef="customer_fullName">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">customer_fullName</span>
          <app-xfilter title="customer_fullName" column="customer_fullName" [selected]="customer_fullName_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.customer?.fullName}}</td>
    </ng-container>

  <ng-container matColumnDef="customer_company">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">customer_company</span>
          <app-xfilter title="customer_company" column="customer_company" [selected]="customer_company_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.customer?.company?.name}}</td>
    </ng-container>

  <ng-container matColumnDef="customer_site">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">customer_site</span>
          <app-xfilter title="customer_site" column="customer_site" [selected]="customer_site_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.customer?.site?.name}}</td>
    </ng-container>

  <ng-container matColumnDef="customer_pa">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">customer_pa</span>
          <app-xfilter title="customer_pa" column="customer_pa" [selected]="customer_pa_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.customer?.customFields?.pa?.PERS_AREA_TEXT}}</td>
    </ng-container>

  <ng-container matColumnDef="customer_psa">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">customer_psa</span>
          <app-xfilter title="customer_psa" column="customer_psa" [selected]="customer_psa_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.customer?.customFields?.psa?.PERS_SUBAREA_TEXT}}</td>
    </ng-container>

  <ng-container matColumnDef="customer_department">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">customer_department</span>
          <app-xfilter title="customer_department" column="customer_department" [selected]="customer_department_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.customer?.department}}</td>
    </ng-container>

  <ng-container matColumnDef="assignee_fullName">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">assignee_fullName</span>
          <app-xfilter title="assignee_fullName" column="assignee_fullName" [selected]="assignee_fullName_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.assignee?.fullName}}</td>
    </ng-container>

  <ng-container matColumnDef="assignee_loginId">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">assignee_loginId</span>
          <app-xfilter title="assignee_loginId" column="assignee_loginId" [selected]="assignee_loginId_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.assignee?.loginId}}</td>
    </ng-container>

  <ng-container matColumnDef="assignee_group">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">assignee_group</span>
          <app-xfilter title="assignee_group" column="assignee_group" [selected]="assignee_group_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.assignee?.customFields?.group?.name}}</td>
    </ng-container>

  <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">priority</span>
          <app-xfilter title="priority" column="priority" [selected]="priority_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.priority}}</td>
    </ng-container>

  <ng-container matColumnDef="status_value">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">status_value</span>
          <app-xfilter title="status_value" column="status_value" [selected]="status_value_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.status?.value}}</td>
    </ng-container>

  <ng-container matColumnDef="status_reason">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">status_reason</span>
          <app-xfilter title="status_reason" column="status_reason" [selected]="status_reason_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.status?.reason}}</td>
    </ng-container>

  <ng-container matColumnDef="supportGroup_name">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">supportGroup_name</span>
          <app-xfilter title="supportGroup_name" column="supportGroup_name" [selected]="supportGroup_name_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.supportGroup?.name}}</td>
    </ng-container>

  <ng-container matColumnDef="submitDate">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">submitDate</span>
          <app-xfilter title="submitDate" column="submitDate" [selected]="submitDate_xSelected" format="datetime"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.submitDate ? (row.submitDate | date: 'dd MMM y HH:mm') : '-'}}</td>
    </ng-container>

  <ng-container matColumnDef="completedDate">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">completedDate</span>
          <app-xfilter title="completedDate" column="completedDate" [selected]="completedDate_xSelected" format="datetime"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.completedDate ? (row.completedDate | date: 'dd MMM y HH:mm') : '-'}}</td>
    </ng-container>

  <ng-container matColumnDef="slaStatus">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">slaStatus</span>
          <app-xfilter title="slaStatus" column="slaStatus" [selected]="slaStatus_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.slaStatus}}</td>
    </ng-container>

  <ng-container matColumnDef="modifiedDate">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">modifiedDate</span>
          <app-xfilter title="modifiedDate" column="modifiedDate" [selected]="modifiedDate_xSelected" format="datetime"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row">{{row.modifiedDate ? (row.modifiedDate | date: 'dd MMM y HH:mm') : '-'}}</td>
    </ng-container>

  <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>
        <!--div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Actions</span>
          <app-xfilter title="Actions" column="Actions" [selected]="Actions_xSelected"></app-xfilter>
        </div-->
     </th>
      <td mat-cell *matCellDef="let row"></td>
    </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>
</div>

<mat-paginator [length]="resultsLength"  [pageSizeOptions]="[25, 50, 100, 500]"></mat-paginator>
<router-outlet></router-outlet>
  <router-outlet name="overlay2"></router-outlet>
</div>
