<div class="container-top-bar" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
  <!--mat-form-field>
    <input matInput placeholder="Filter" [formControl]="filterControl">
  </mat-form-field-->
  <button mat-button color="primary" [disabled]="isLoadingResults" [routerLink]="['/pe/sonolog/add']" *ngIf="pePermissionService.passPermission('pe/sonolog/add')"><mat-icon>add</mat-icon> Add/Edit</button>
  <button mat-button color="warn" (click)="deleteSelected()" [disabled]="!selection.selected.length" *ngIf="pePermissionService.passPermission('pe/sonolog/delete')"><mat-icon>delete</mat-icon> Delete Selected</button>
  <button mat-button color="secondary" (click)="exportExcel()" [disabled]="isLoadingResults"><mat-icon>file_download</mat-icon>  Export to Excel</button>
  <button mat-button color="tertiary" [disabled]="isLoadingResults" [routerLink]="['/pe/sonolog/sonolog-chart']"><mat-icon>bar_chart</mat-icon>Chart</button>
</div>

<div class="container-content" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
  
  <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="container-table" [style.max-height]="(commonService.Math.max(commonService.screenHeight - 180, 250))+'px'">

    <table mat-table [dataSource]="data" class="pe-table"
    matSort matSortActive="date" matSortDisableClear matSortDirection="desc">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <mat-checkbox (change)="($event && !isEditing) ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
          [disabled]="isEditing" *ngIf="pePermissionService.passPermission('pe/daily/delete')">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="($event && !isEditing) ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
          [disabled]="isEditing" *ngIf="pePermissionService.passPermission('pe/daily/delete')">
        </mat-checkbox>
      </td>
    </ng-container>
    
    
    <ng-container matColumnDef="well">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Well</span>
          <app-xfilter title="Well" column="well" [selected]="well_xSelected"></app-xfilter>
        </div>
      </th>
      <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.well}}</td>
    </ng-container>

    <ng-container matColumnDef="accessed_layer">
      <th mat-header-cell *matHeaderCellDef colspan="5">Accessed Layer</th>
    </ng-container>
    
    <ng-container matColumnDef="last_comp_date" sticky>
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Date</span>
          <app-xfilter title="last_comp_date" column="last_comp_date" format="last_comp_date" [selected]="last_comp_date_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.last_comp_date ? (row.last_comp_date | date: 'dd MMM y') : '-'}}</td>
    </ng-container>

   <ng-container matColumnDef="layer_acc">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Layer</span>
          <app-xfilter title="layer_acc" column="layer_acc" [selected]="layer_acc_xSelected"></app-xfilter>
        </div>
      </th>
      <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.layer_acc? row.layer_acc.join(", ") : '-'}}</td>
    </ng-container>

    <ng-container matColumnDef="interval_acc">
        <th mat-header-cell *matHeaderCellDef rowspan="2" class="w_interval">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before" class="mat-sort-header">Interval</span>
            <app-xfilter title="interval_acc" column="interval_acc" [selected]="interval_acc_xSelected"></app-xfilter>
          </div>
        </th>
        <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.interval_acc? formatInterval(row.interval_acc) : '-'}}</td>
    </ng-container>

    <ng-container matColumnDef="top">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">top</span>
          <app-xfilter title="top" column="top" format="number" [selected]="top_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.top | number : '1.0-0') || '-'}}</td>
   </ng-container>
    <ng-container matColumnDef="bottom">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">bottom</span>
          <app-xfilter title="bottom" column="bottom" format="number" [selected]="bottom_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.bottom | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="unaccessed_layer">
      <th mat-header-cell *matHeaderCellDef colspan="4">Unaccessed Layer</th>
    </ng-container>

   <ng-container matColumnDef="layer_unacc">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Layer</span>
          <app-xfilter title="layer_unacc" column="layer_unacc" [selected]="layer_unacc_xSelected"></app-xfilter>
        </div>
      </th>
      <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.layer_unacc? row.layer_unacc.join(", ") : '-'}}</td>
    </ng-container>

    <ng-container matColumnDef="interval_unacc">
        <th mat-header-cell *matHeaderCellDef rowspan="2" class="w_interval">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before" class="mat-sort-header">Interval</span>
            <app-xfilter title="interval_unacc" column="interval_unacc" [selected]="interval_unacc_xSelected"></app-xfilter>
          </div>
        </th>
        <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.interval_unacc? formatInterval(row.interval_unacc) : '-'}}</td>
    </ng-container>

    <ng-container matColumnDef="top_2">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">top</span>
          <app-xfilter title="top_2" column="top_2" format="number" [selected]="top_2_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.top_2 | number : '1.0-0') || '-'}}</td>
   </ng-container>

    <ng-container matColumnDef="bottom_2">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">bottom</span>
          <app-xfilter title="bottom_2" column="bottom_2" format="number" [selected]="bottom_2_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.bottom_2 | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="hole_feature">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Hole Feature</span>
          <app-xfilter title="hole_feature" column="hole_feature" [selected]="hole_feature_xSelected"></app-xfilter>
        </div>
      </th>
      <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.hole_feature}}</td>
    </ng-container>

    <ng-container matColumnDef="panjang_feature">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Panjang Feature</span>
          <app-xfilter title="panjang_feature" column="panjang_feature" format="number" [selected]="panjang_feature_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.panjang_feature | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="rtl">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">RTL</span>
          <app-xfilter title="rtl" column="rtl" [selected]="rtl_xSelected"></app-xfilter>
        </div>
      </th>
      <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.rtl}}</td>
    </ng-container>

    <ng-container matColumnDef="remarks">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Remark</span>
          <app-xfilter title="remarks" column="remarks" [selected]="remarks_xSelected"></app-xfilter>
        </div>
      </th>

      <td mat-cell *matCellDef="let row" class="cell-left" [class.clicked_row]="selection.isSelected(row)">{{ row.remarks || '-' }}</td>
    </ng-container>

    <ng-container matColumnDef="action" rowspan="2">
      <th mat-header-cell *matHeaderCellDef>Action</th>   
      <td mat-cell *matCellDef="let row"> 
       <!--button mat-button *ngIf="passPermission('/pe/sonolog/edit')" [routerLink]="['/', 'presence','device', 'edit', row.PE_TICKET_ID]" matTooltip="Edit Device" ><mat-icon>edit</mat-icon></button> 
       <button mat-button *ngIf="passPermission('/pe/sonolog/delete')" (click)="deletePeSonolog(row.PE_TICKET_ID)" matTooltip="Delete Device"><mat-icon>delete</mat-icon></button--> 
     </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef='headerColumns1; sticky: true'></tr>
   <tr mat-header-row *matHeaderRowDef='headerColumns2; sticky: true'></tr>
   <tr mat-row *matRowDef='let row; columns: displayedColumns;' (click)="(!isEditing) ? selection.toggle(row) : null"></tr>
 </table>
</div>

<mat-paginator [length]="resultsLength"  [pageSizeOptions]="[50, 100, 500, 1000]" showFirstLastButtons></mat-paginator>
<router-outlet></router-outlet>
  <router-outlet name="overlay2"></router-outlet>
</div>
