
<div class="hero">
  
  <div class="header">
    <!-- <h1>PERTAMINA EP SANGATTA FIELD</h1> -->
  </div>
  
  <div class="card-container">

    <div class="card admin" (click)="goAdmin()">
      <div class="icon">
        <mat-icon>person</mat-icon>
      </div>
      <h3>Admin</h3>
    </div>

    <div class="card viewer" (click)="goViewer()">
      <div class="icon">
        <mat-icon>groups</mat-icon>
      </div>
      <h3>Viewer</h3>
    </div>

  </div>
</div>

<footer>
    © Pertamina EP Sangatta Field. All Rights Reserved
</footer>