.dasboard_card {
  border-radius: 12px;
  padding: 10px;
  max-width: 50%;       
  margin: 0 auto;
}

.well-item {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  cursor: pointer;
  padding: 6px 0;

  &:hover {
    background-color: #f5f5f5; 
    border-radius: 6px;
  }
}

.status-on {
  color: green;
  font-weight: bold;
  margin-left: 40px;
}

.status-off {
  color: red;
  font-weight: bold;
  margin-left: 40px;
}
