.ipr_chart {
  min-height: 400px;
}

.mat-table {
  display: block;
  /*font-family: 'Roboto, Helvetica Neue, sans-serif';*/
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,.12);
  align-items: center;
  min-height: 32px;
}

.mat-cell,
.mat-header-cell {
  /*flex: 1;*/
  overflow: hidden;
  word-wrap: break-word;
  padding: 0 7px;
}

.cell-name {
	width: 35%;
}
.cell-value {
	width: 40%;
	text-align: right;
}
.cell-value-uom {
	width: 70%;
	text-align: right;
}
.cell-uom {
	width: 25%;
}
.cell-separator {
	height: 16px;
}

.input-hidden {
    position: absolute;
    width: 0px;
    border: none;
    height: 100%;
}
.input-visible {
	width: 70%;
	max-width: 70%;
}
::ng-deep .mat-form-field-infix {
  width: auto !important;
}