::ng-deep .mat-expansion-panel-header {
	height: 48px !important;
}

::ng-deep .mat-expansion-panel-body {
	padding: 0 0 16px !important;
}

::ng-deep .mat-nav-list {
	padding-top: 0px !important;
}

.mat-nav-list .mat-list-item {
	height: 32px !important;
}

::ng-deep .mat-list-item-content {
	padding: 0 24px !important;
	font-size: 15px	;
}