mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  min-height: 100vh;
  overflow: hidden;
}

mat-sidenav {
  width: 200px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  cursor: pointer;
}

.icon {
  vertical-align: middle;
}

.label {
  flex: 1 1 auto;
}

.container {
  position: relative;
  min-height: 200px;
  margin: 1em 2em;
}

.fullWindow {
  margin: 0 !important; 
}

.container-top-bar {
  /*position: relative;*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-top-bar button {
  margin: 16px;
}

.container-content {
  position: relative;
  min-height: 200px;
}

mat-toolbar {
  height: 48px;
}