mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  //min-height: 100vh;
  overflow: hidden;
}

mat-sidenav {
  margin-top: 80px;
  height: 865px;
  width: 250px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
}

::ng-deep .mat-sidenav-content {
  background: url("src/assets/image/pertamina.png") no-repeat !important;
  background-position-x: right !important;
  background-position-y: top !important;
  //margin-top: 50px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  cursor: pointer;
}

.icon {
  vertical-align: middle;
}

.label {
  flex: 1 1 auto;
}

.container {
  position: relative;
  min-height: 200px;
  margin: 1em 2em;
}

.fullWindow {
  margin: 0 !important;
  padding : 10px;
}

.container-top-bar {
  /*position: relative;*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-top-bar button {
  margin: 16px;
}

.container-content {
  position: relative;
  min-height: 200px;
}

mat-toolbar {
  height: 65px;
  position: fixed;
  z-index: 110;
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
}

.mat-toolbar.mat-primary {
  background: #ed2626;
  color: #fff;
}

.mat-display-1 {
  color : black;
}

main {
   margin-top: 80px;
}