.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  //margin-top: 80px;
  height: 815px;
}

::ng-deep .mat-sidenav-content {
  background: url("src/assets/image/pertamina.png") no-repeat !important;
  background-position-x: right !important;
  background-position-y: top !important;
  //top: 50px;
}

mat-card { 
  margin: 2em;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


mat-progress-bar {
	width: 332px;
	margin: -16px 0 16px 0 !important;
}

mat-form-field {
   width: 250px;
}

::ng-deep .mat-card-header-text {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

mat-card-content {
	
}

mat-card-actions {
	margin-left: 0;
	margin-right: 0;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 100%;
  overflow: show;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Transparent Overlay
mat-spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
} */

.main-div .example-card {
  bottom: 100px;
}