

<div class="map-wrapper">
  <div class="map-toolbar">
    <div class="toolbar-row">
    <!-- Search field -->
    <div class="toolbar-search well-search">
      <div class="search-box">
        <mat-icon>search</mat-icon>
        <input
          type="text"
          placeholder="Cari sumur..."
          [(ngModel)]="searchWell"
          (input)="onSearchWell()">
      </div>
      <div
        class="search-result"
        *ngIf="filteredWells.length > 0">
        <div
          class="search-item"
          *ngFor="let well of filteredWells"
          (click)="selectWell(well)">
          {{ well.wellName }}
        </div>
      </div>
    </div>

    <!-- Filter chips -->
    <div class="toolbar-filters">
      <button
        type="button"
        class="filter-chip"
        [class.active]="showWell"
        (click)="toggleLayer('well', !showWell)">
        <span class="chip-icon chip-icon--well"></span>
        <span>Well</span>
      </button>

      <button
        type="button"
        class="filter-chip"
        [class.active]="showFlowline"
        (click)="toggleLayer('flowline', !showFlowline)">
        <span class="chip-icon chip-icon--flowline"></span>
        <span>Flowline</span>
      </button>

      <button
        type="button"
        class="filter-chip"
        [class.active]="showStation"
        (click)="toggleLayer('station', !showStation)">
        <span class="chip-icon chip-icon--station"></span>
        <span>Station</span>
      </button>
    </div>
  </div>

  <!-- Status legend -->
  <div class="toolbar-legend">
    <div class="legend-item" *ngFor="let item of legendItems">
      <span class="legend-dot" [style.background-color]="item.color"></span>
      <span class="legend-label">{{ item.label }}</span>
    </div>
  </div>
  </div>

  <div class="map-container">
    <div id="map"></div>

    <div class="map-loading" *ngIf="isLoading">
      <mat-spinner diameter="40"></mat-spinner>
      <span>Memuat peta...</span>
    </div>
  </div>


  <div class="sumur-table-wrapper">
    <div class="table-header-with-actions">
      <h3 class="table-title">Daftar Sumur</h3>
      <span class="spacer"></span>
      <button mat-button color="primary" [routerLink]="['/pe/map/add']" *ngIf="pePermissionService.passPermission('pe/map/add')"><mat-icon>add</mat-icon>Upload</button>
      <button mat-button color="warn" (click)="deleteSelected()" [disabled]="!selection.selected.length" *ngIf="pePermissionService.passPermission('pe/map/delete')"><mat-icon>delete</mat-icon> Delete Selected</button>
    </div>
    
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="sumur-table mat-elevation-z2">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <mat-checkbox (change)="($event && !isEditing) ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
              [disabled]="isEditing" *ngIf="pePermissionService.passPermission('pe/daily/delete')">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="($event && !isEditing) ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
              [disabled]="isEditing" *ngIf="pePermissionService.passPermission('pe/daily/delete')">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="wellName">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span>Nama Sumur</span>
              <app-xfilter title="Well Name" column="wellName" [selected]="wellName_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let s">{{ s.wellName }}</td>
        </ng-container>

        <ng-container matColumnDef="lat">
          <th mat-header-cell *matHeaderCellDef>Latitude</th>
          <td mat-cell *matCellDef="let s">{{ s.lat }}</td>
        </ng-container>

        <ng-container matColumnDef="lng">
          <th mat-header-cell *matHeaderCellDef>Longitude</th>
          <td mat-cell *matCellDef="let s">{{ s.lng }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span>Status</span>
              <app-xfilter title="Status" column="status" [selected]="status_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let s">{{ s.status }}</td>
        </ng-container>

        <ng-container matColumnDef="station">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span>Station</span>
            <app-xfilter title="Station" column="station" [selected]="station_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let s">{{ s.station }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Aksi</th>
          <td mat-cell *matCellDef="let s">
            <button mat-icon-button color="primary" (click)="flyToSumur(s)" matTooltip="Lihat di peta">
              <mat-icon>location_on</mat-icon>
            </button>
          </td>
        </ng-container>
        <!-- <tr mat-header-row *matHeaderRowDef='headerColumns1; sticky: true'></tr> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="flyToSumur(row)"
            class="table-row--clickable">
        </tr>
      </table>
    </div>
    <mat-paginator #paginator 
      [length]="sumurList.length" 
      [pageSize]="50" 
      [pageSizeOptions]="[50, 100, 500, 1000]" 
      showFirstLastButtons>
    </mat-paginator>
  </div>
<router-outlet></router-outlet>
<!-- <router-outlet name="overlay2"></router-outlet> -->
</div>
