

<div class="map-wrapper">

  <div class="map-header">
    <div class="map-header__title">
      <mat-icon>map</mat-icon>
      <span>Peta Sumur</span>
    </div>
    <div class="container-top-bar" style="display: flex; gap: 16px;" >
      <mat-checkbox [(ngModel)]="showWell" (change)="updateMapVisibility()" >
        Well
      </mat-checkbox>

      <mat-checkbox [(ngModel)]="showFlowline" (change)="updateMapVisibility()">
        Flowline
      </mat-checkbox>

      <mat-checkbox [(ngModel)]="showStation" (change)="updateMapVisibility()">
        Station
      </mat-checkbox>
    </div>
    <div class="map-header__legend">
      <span class="legend-item legend-item--total">
        Total: {{ sumurList.length }} Sumur
      </span>
    </div>
  </div>

  <div class="map-container">
    <div id="map"></div>

    <div class="map-loading" *ngIf="isLoading">
      <mat-spinner diameter="40"></mat-spinner>
      <span>Memuat peta...</span>
    </div>
  </div>


  <div class="sumur-table-wrapper">
    <div class="table-header-with-actions">
      <h3 class="table-title">Daftar Sumur</h3>
      <span class="spacer"></span>
      <button mat-button color="primary" [routerLink]="['/pe/map/add']" *ngIf="pePermissionService.passPermission('pe/map/add')"><mat-icon>add</mat-icon>Upload</button>
      <button mat-button color="warn" (click)="deleteSelected()" [disabled]="!selection.selected.length" *ngIf="pePermissionService.passPermission('pe/map/delete')"><mat-icon>delete</mat-icon> Delete Selected</button>
    </div>
    
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="sumur-table mat-elevation-z2">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <mat-checkbox (change)="($event && !isEditing) ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
              [disabled]="isEditing" *ngIf="pePermissionService.passPermission('pe/daily/delete')">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="($event && !isEditing) ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
              [disabled]="isEditing" *ngIf="pePermissionService.passPermission('pe/daily/delete')">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="wellName">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span>Nama Sumur</span>
              <app-xfilter title="Well Name" column="wellName" [selected]="wellName_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let s">{{ s.wellName }}</td>
        </ng-container>

        <ng-container matColumnDef="lat">
          <th mat-header-cell *matHeaderCellDef>Latitude</th>
          <td mat-cell *matCellDef="let s">{{ s.lat }}</td>
        </ng-container>

        <ng-container matColumnDef="lng">
          <th mat-header-cell *matHeaderCellDef>Longitude</th>
          <td mat-cell *matCellDef="let s">{{ s.lng }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span>Status</span>
              <app-xfilter title="Status" column="status" [selected]="status_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let s">{{ s.status }}</td>
        </ng-container>

        <ng-container matColumnDef="station">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span>Station</span>
            <app-xfilter title="Station" column="station" [selected]="station_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let s">{{ s.station }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Aksi</th>
          <td mat-cell *matCellDef="let s">
            <button mat-icon-button color="primary" (click)="flyToSumur(s)" matTooltip="Lihat di peta">
              <mat-icon>location_on</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="flyToSumur(row)"
            class="table-row--clickable">
        </tr>
      </table>
    </div>
    <mat-paginator #paginator 
      [length]="sumurList.length" 
      [pageSize]="50" 
      [pageSizeOptions]="[50, 100, 500, 1000]" 
      showFirstLastButtons>
    </mat-paginator>
  </div>
<router-outlet></router-outlet>
<!-- <router-outlet name="overlay2"></router-outlet> -->
</div>
