/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/icons/MaterialIcons-Regular.ttf'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('/assets/icons/MaterialIcons-Regular.ttf') format('truetype'),
 //   url('/assets/icons/MaterialIcons-Regular.woff') format('woff'),
  //  url('/assets/icons/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; // Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  padding : 1px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.mat-card {
  border-radius: 15px !important;
  margin: 5px !important;
  box-shadow: 0 2px 1px -1px rgb(255, 0, 0) !important;
}

::-webkit-scrollbar {
  width: 4px !important;
  height: 6px !important;
  margin-top: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  margin-top : 80px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius : 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mat-drawer-side {
  border-right: solid 1px rgb(255 0 0 / 32%);
  border-radius: 15px;
}
