:host {
  position: relative;
  top: 5px;
}

:host ::ng-deep .container-top-bar {
  display: flex;
  justify-content: flex-end;
}

:host ::ng-deep .container-top-bar button {
  margin: 0;
}

:host ::ng-deep .container-content {
  min-height: 200px;
}

:host ::ng-deep .top-flow {
  position: relative;
  top: -45px;
}
:host ::ng-deep .top-flow-xs {
  position: relative;
  top: -15px;
  justify-content: flex-start;
}

/* PE table */

:host ::ng-deep {

  .container-table {
    /*position: relative;*/
    max-height: 400px;
    overflow: auto;
  }

  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .common-table {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.12);
  }

  .common-table .mat-header-row {
    height: 40px;
  }
  .common-table .mat-header-row:nth-child(2) .mat-header-cell {
    top: 40px !important;
  }
  .common-table .mat-header-row:nth-child(3) .mat-header-cell {
    top: 80px !important;
  }

  .common-table .mat-header-cell {
    white-space: nowrap;
    padding-right: 7px;
    padding-left: 7px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.12);
  }

  .common-table .mat-sort-header {
    padding-top: 0.625em;
  }

  .common-table .mat-row {
    height: 32px;
  }

  .common-table .mat-cell {
    white-space: nowrap;
    padding-right: 7px;
    padding-left: 7px;
  }

  .common-table .cell-center {
    text-align: center;
  }
  .common-table .cell-right {
    text-align: right;
  }
  .common-table .cell-error {
    color: red;
  }
  .common-table .cell-warning {
    color: orange;
  }
  .common-table .mat-cell .mat-icon {
    font-size: 18px;
  }

  .common-table .mat-header-cell .mat-form-field {
    width: auto;
  }

  .input-hidden {
    position: absolute;
    width: 0px;
    border: none;
    height: 100%;
  }

  .button-fw {
    font-size: 24px;
    /*position: absolute;
    right: 0;
    top: 0;*/
    min-width: auto;
    padding: 0;
    margin-left: 6px;
  }

  .tree-depth-1 {
    padding-left: 27px !important;
  }
  .tree-depth-2 {
    padding-left: 47px !important;
  }
  .tree-depth-3 {
    padding-left: 67px !important;
  }
  .tree-depth-4 {
    padding-left: 87px !important;
  }
  .tree-spacer {
    color: white !important;
  }
}

/* form */

mat-card { 
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

mat-progress-bar {
  width: 332px;
  margin: -16px 0 16px 0 !important;
}

mat-form-field {
   width: 250px;
}

::ng-deep .mat-card-header-text {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

mat-card-content {
  
}

mat-card-actions {
  margin-left: 0;
  margin-right: 0;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

