/* form */

mat-card { 
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

mat-progress-bar {
  width: 332px;
  margin: -16px 0 16px 0 !important;
}

mat-form-field {
   width: 250px;
}

::ng-deep .mat-card-header-text {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

mat-card-content {
  
}

mat-card-actions {
  margin-left: 0;
  margin-right: 0;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

