<div class="container-content form-report">
      <h3> Add Operation, SOT & Gas</h3>
      <div [formGroup]="opsogForm">
          <mat-grid-list cols="16">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field floatLabel="never">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="datePicker" formControlName="date" (dateChange)="dateChange($event)" disabled>
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker disabled="false"></mat-datepicker>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="example-full-width" appearance="">
                <input matInput formControlName="operation" type="number" placeholder="Operation" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="example-full-width" appearance="">
                <input matInput formControlName="sot" type="number" placeholder="SOT" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="example-full-width" appearance="">
                <input matInput formControlName="gas" type="number" placeholder="Gas" />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="example-full-width" appearance="">
                <input matInput formControlName="gas_sales" type="number" placeholder="Gas Sales" />
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
		  
		  <mat-grid-list cols="16">
			<h3> Add SGT, SBR, BD</h3>
			<mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="example-full-width" appearance="">
                <input matInput formControlName="sgt_opr" type="number" placeholder="SGT OPR" />
              </mat-form-field>
            </mat-grid-tile>
			<mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="example-full-width" appearance="">
                <input matInput formControlName="sbr_opr" type="number" placeholder="SBR OPR" />
              </mat-form-field>
            </mat-grid-tile>
			<mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="example-full-width" appearance="">
                <input matInput formControlName="bd_opr" type="number" placeholder="BD OPR" />
              </mat-form-field>
            </mat-grid-tile>
			<mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="example-full-width" appearance="">
                <input matInput formControlName="sgt_sot" type="number" placeholder="SGT SOT" />
              </mat-form-field>
            </mat-grid-tile>
			<mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="example-full-width" appearance="">
                <input matInput formControlName="sbr_sot" type="number" placeholder="SBR SOT" />
              </mat-form-field>
            </mat-grid-tile>
			<mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="example-full-width" appearance="">
                <input matInput formControlName="bd_sot" type="number" placeholder="BD SOT" />
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
		  
		  <mat-grid-list cols="16">
			<h3> Add RKAP & WP&B</h3>
			<mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="example-full-width" appearance="">
                <input matInput formControlName="rkap" type="number" placeholder="RKAP" />
              </mat-form-field>
            </mat-grid-tile>
			<mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="example-full-width" appearance="">
                <input matInput formControlName="wpnb" type="number" placeholder="WP&B" />
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        <div class="loading-shade" *ngIf="isUploading">
          <mat-spinner></mat-spinner>
        </div>
        <button mat-raised-button color="secondary" (click)="onSaveOpsog()" [disabled]="!opsogForm.valid"><mat-icon>save</mat-icon> Save</button>
        <!--div>
          <button mat-button matStepperNext>Next</button>
        </div-->
        <div class="progress-bar" *ngIf="isUploading">
          <mat-progress-bar mode="determinate" value="{{ progressPercent }}"></mat-progress-bar> {{ progressPercent }} %
        </div>
      </div>
</div>
