<div class="container-top-bar" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
  <!--mat-form-field>
    <input matInput placeholder="Filter" [formControl]="filterControl">
  </mat-form-field-->
  <!-- <button mat-button color="tertiary" [disabled]="isLoadingResults" [routerLink]="['/pe/daily/delta']"><mat-icon>trending_up</mat-icon>Delta Chart</button> -->
  
	<mat-form-field class="filter" floatLabel="never">
		<mat-label>Week 1 Start Date</mat-label>
		<input matInput class="input-hidden" [matDatepicker]="weekly_start_datePicker" [formControl]="weekly_start_dateControl" (dateChange)="weekly_start_dateChange($event)" readonly >
		<input matInput [(ngModel)]="weekly_start_dateInput" disabled>
		<mat-datepicker-toggle matSuffix [for]="weekly_start_datePicker" [disabled]="isLoadingResults"></mat-datepicker-toggle>
		<mat-datepicker #weekly_start_datePicker disabled="false"></mat-datepicker>
	</mat-form-field>
  
	<mat-form-field class="filter" floatLabel="never">
		<mat-label>Week 1 End Date</mat-label>
		<input matInput class="input-hidden" [matDatepicker]="weekly_end_datePicker" [formControl]="weekly_end_dateControl" (dateChange)="weekly_end_dateChange($event)" readonly>
		<input matInput [(ngModel)]="weekly_end_dateInput" disabled>
		<mat-datepicker-toggle matSuffix [for]="weekly_end_datePicker" [disabled]="isLoadingResults"></mat-datepicker-toggle>
		<mat-datepicker #weekly_end_datePicker disabled="false"></mat-datepicker>
	</mat-form-field>

  <mat-form-field class="filter" floatLabel="never">
		<mat-label>Week 2 Start Date</mat-label>
		<input matInput class="input-hidden" [matDatepicker]="start_datePicker" [formControl]="start_dateControl" (dateChange)="start_dateChange($event)" readonly >
		<input matInput [(ngModel)]="start_dateInput" disabled>
		<mat-datepicker-toggle matSuffix [for]="start_datePicker" [disabled]="isLoadingResults"></mat-datepicker-toggle>
		<mat-datepicker #start_datePicker disabled="false"></mat-datepicker>
	</mat-form-field>
  
	<mat-form-field class="filter" floatLabel="never">
		<mat-label>Week 2 End Date</mat-label>
		<input matInput class="input-hidden" [matDatepicker]="end_datePicker" [formControl]="end_dateControl" (dateChange)="end_dateChange($event)" readonly>
		<input matInput [(ngModel)]="end_dateInput" disabled>
		<mat-datepicker-toggle matSuffix [for]="end_datePicker" [disabled]="isLoadingResults"></mat-datepicker-toggle>
		<mat-datepicker #end_datePicker disabled="false"></mat-datepicker>
	</mat-form-field>
  
</div>

<div class="container-content" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">

  <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="container-table" [style.max-height]="(commonService.Math.max(commonService.screenHeight - 180, 250))+'px'">
    <table mat-table [dataSource]="dataSource" class="pe-table"
           matSort matSortActive="date" matSortDisableClear matSortDirection="desc">
      <ng-container matColumnDef="select" >
        <th mat-header-cell *matHeaderCellDef rowspan="2">
          <mat-checkbox (change)="($event && !isEditing) ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()"
                        [disabled]="isEditing" *ngIf="pePermissionService.passPermission('pe/daily/delete')">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="($event && !isEditing) ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)"
                        [disabled]="isEditing" *ngIf="pePermissionService.passPermission('pe/daily/delete')">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="date" >
		  <th mat-header-cell *matHeaderCellDef rowspan="2">
			<div fxLayout="row" fxLayoutAlign="start center">
			  <span mat-sort-header arrowPosition="before" class="mat-sort-header">Date</span>
			  <app-xfilter title="Date" column="date" format="date" [selected]="date_xSelected"></app-xfilter>
			</div>
		  </th>
		  <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.date ? (row.date | date: 'dd MMM y') : '-'}}</td>
	  </ng-container> -->
		<ng-container matColumnDef="well" sticky>
		  <th mat-header-cell *matHeaderCellDef rowspan="2">
			<div fxLayout="row" fxLayoutAlign="start center">
			  <span mat-sort-header arrowPosition="before" class="mat-sort-header">Well</span>
			  <app-xfilter title="Well" column="well" [selected]="well_xSelected"></app-xfilter>
			</div>
		  </th>
		  <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.well}}</td>
		</ng-container> 
    <ng-container matColumnDef="week1">
          <th mat-header-cell *matHeaderCellDef colspan="6">Week 1: {{ weekly_start_dateInput ? (weekly_start_dateInput) : "Week 1" }} - {{ weekly_end_dateInput ? (weekly_end_dateInput) : "" }}</th>
    </ng-container>
    <ng-container matColumnDef="fig_curr_gross_prev">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gross Prev</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.fig_curr_gross_prev | number : '1.2-2') || '-'}}</td>
    </ng-container>
    <ng-container matColumnDef="fig_curr_net_prev">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Net Prev</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.fig_curr_net_prev | number : '1.2-2') || '-'}}</td>
    </ng-container>
    <ng-container matColumnDef="wc_prev">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">WC Prev</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.wc_prev | number : '1.2-2') || '-'}}</td>
    </ng-container>
    <ng-container matColumnDef="gas_prev">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gas Prev</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.gas_prev | number : '1.2-2') || '-'}}</td>
    </ng-container>
    <ng-container matColumnDef="ds_efficiency_prev">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Efficiency Prev</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.ds_efficiency_prev | number : '1.2-2') || '-'}}</td>
    </ng-container>
    <ng-container matColumnDef="sm_prev">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">SM Prev</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.sm_prev | number : '1.2-2') || '-'}}</td>
    </ng-container>

    <ng-container matColumnDef="week2">
        <th mat-header-cell *matHeaderCellDef colspan="6">Week 2: {{ start_dateInput ? (start_dateInput) : "Week 2" }} - {{ end_dateInput ? (end_dateInput) : "" }}</th>
    </ng-container>
    <ng-container matColumnDef="fig_curr_gross_today">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gross</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.fig_curr_gross_today | number : '1.2-2') || '-'}}</td>
    </ng-container>
    <ng-container matColumnDef="fig_curr_net_today">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Net</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.fig_curr_net_today | number : '1.2-2') || '-'}}</td>
    </ng-container>
    <ng-container matColumnDef="wc_today">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">WC</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.wc_today | number : '1.2-2') || '-'}}</td>
    </ng-container>
    <ng-container matColumnDef="gas_today">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gas</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{ row.gas_today | number:'1.2-2':'id-ID' }}</td>
    </ng-container>
    <ng-container matColumnDef="ds_efficiency_today">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Efficiency</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.ds_efficiency_today | number : '1.2-2') || '-'}}</td>
    </ng-container>
    <ng-container matColumnDef="sm_today">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">SM</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.sm_today | number : '1.2-2') || '-'}}</td>
    </ng-container>

      <ng-container matColumnDef="delta">
          <th mat-header-cell *matHeaderCellDef colspan="6">Delta</th>
      </ng-container>
      <ng-container matColumnDef="delta_fig_curr_gross">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header="delta_fig_curr_gross" arrowPosition="before" class="mat-sort-header">Δ Gross</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right"
              [class.clicked_row]="selection.isSelected(row) ">{{(row.delta_fig_curr_gross | number : '1.2-2') || '-'}}</td>
        </ng-container>
      <ng-container matColumnDef="delta_fig_curr_net">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header="delta_fig_curr_net" arrowPosition="before" class="mat-sort-header">Δ Net</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" 
              [class.delta-up]="row.delta_fig_curr_net> 0"
              [class.delta-down]="row.delta_fig_curr_net< 0"
              [class.delta-same]="row.delta_fig_curr_net=== 0"  
              [class.clicked_row]="selection.isSelected(row)">{{(row.delta_fig_curr_net | number : '1.2-2') || '-'}}</td>
        </ng-container>
      <ng-container matColumnDef="delta_wc">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header="delta_wc" arrowPosition="before" class="mat-sort-header">Δ WC</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" 
              [class.clicked_row]="selection.isSelected(row)">{{(row.delta_wc | number : '1.2-2') || '-'}}</td>
        </ng-container>
      <ng-container matColumnDef="delta_gas">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header="delta_gas" arrowPosition="before" class="mat-sort-header">Δ Gas</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" 
              [class.clicked_row]="selection.isSelected(row)">{{(row.delta_gas | number : '1.2-2') || '-'}}</td>
        </ng-container>
      <ng-container matColumnDef="delta_ds_efficiency">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header="delta_ds_efficiency" arrowPosition="before" class="mat-sort-header">Δ Efficiency</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" 
              [class.clicked_row]="selection.isSelected(row)">{{(row.delta_ds_efficiency | number : '1.2-2') || '-'}}</td>
        </ng-container>
      <ng-container matColumnDef="delta_sm">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header="delta_sm" arrowPosition="before" class="mat-sort-header">Δ SM</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" 
              [class.clicked_row]="selection.isSelected(row)">{{(row.delta_sm | number : '1.2-2') || '-'}}</td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef='headerColumns1; sticky: true'></tr>
      <tr mat-header-row *matHeaderRowDef='headerColumns2; sticky: true'></tr>
      <tr mat-row *matRowDef='let row; columns: displayedColumns;' (click)="(!isEditing) ? selection.toggle(row) : null"></tr>
	</table>
	</div>

  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[50, 100, 500, 1000]"></mat-paginator>


  
  <router-outlet></router-outlet>
  <router-outlet name="overlay2"></router-outlet> 
</div> 