 <div class="container-top-bar" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
    <!--mat-form-field>
      <input matInput placeholder="Filter" [formControl]="filterControl">
    </mat-form-field-->
    <button mat-button color="primary" [disabled]="isLoadingResults" [routerLink]="['/pe/daily/add']" *ngIf="pePermissionService.passPermission('pe/daily/add')"><mat-icon>add</mat-icon> Add/Edit</button>
    <button mat-button color="warn" (click)="deleteSelected()" [disabled]="!selection.selected.length" *ngIf="pePermissionService.passPermission('pe/daily/delete')"><mat-icon>delete</mat-icon> Delete Selected</button>
    <button mat-button color="secondary" (click)="exportExcel()" [disabled]="isLoadingResults"><mat-icon>file_download</mat-icon> Export to Excel</button>
    <button mat-button color="accent" [disabled]="isLoadingResults" [routerLink]="['/pe/daily/per-area-chart']"><mat-icon>auto_graph</mat-icon>Field Chart</button>
    <button mat-button color="accent" [disabled]="isLoadingResults" [routerLink]="['/pe/daily/area-chart']"><mat-icon>area_chart</mat-icon>Area Chart</button>
    <button mat-button color="accent" [disabled]="isLoadingResults" [routerLink]="['/pe/daily/semilog-chart']"><mat-icon>ssid_chart</mat-icon>Semilog Chart</button>
	<button mat-button color="tertiary" [disabled]="isLoadingResults" [routerLink]="['/pe/daily/chart']"><mat-icon>bar_chart</mat-icon>Chart</button>
  </div>

  <div class="container-content" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
	
    <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="container-table" [style.max-height]="(commonService.Math.max(commonService.screenHeight - 180, 250))+'px'">

      <table mat-table [dataSource]="data" class="pe-table" 
             matSort matSortActive="date" matSortDisableClear matSortDirection="desc" responsive="true">
        <ng-container matColumnDef="select" sticky>
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" center>
              <mat-checkbox (change)="($event && !isEditing) ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()"
                            [disabled]="isEditing" *ngIf="pePermissionService.passPermission('pe/daily/delete')">
              </mat-checkbox>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="($event && !isEditing) ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)"
                            [disabled]="isEditing" *ngIf="pePermissionService.passPermission('pe/daily/delete')">
              </mat-checkbox>
              </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="date" sticky>
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Date</span>
              <app-xfilter title="Date" column="date" format="date" [selected]="date_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.date ? (row.date | date: 'dd MMM y') : '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="nomor" sticky>
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">No</span>
              <app-xfilter title="No" column="nomor" format="number" [selected]="nomor_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.nomor | number : '1.0-0') || '-'}}</td>
        </ng-container>
        
        <ng-container matColumnDef="location" sticky>
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Location</span>
              <app-xfilter title="Location" column="location" [selected]="location_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.location}}</td>
        </ng-container>
        <ng-container matColumnDef="well" sticky>
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Well</span>
              <app-xfilter title="Well" column="well" [selected]="well_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.well}}</td>
        </ng-container>
        <ng-container matColumnDef="well_string" sticky>
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Well String</span>
              <app-xfilter title="Well String" column="well_string" [selected]="well_string_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.well_string}}</td>
        </ng-container>
        <ng-container matColumnDef="zone">
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Zone</span>
              <app-xfilter title="Zone" column="zone" [selected]="zone_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.zone? row.zone.join(", ") : '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="interval">
          <th mat-header-cell *matHeaderCellDef rowspan="3" class="w_interval">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Interval</span>
              <app-xfilter title="Interval" column="interval" [selected]="interval_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.interval? formatInterval(row.interval) : '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="potensi_prod">
          <th mat-header-cell *matHeaderCellDef colspan="2">Potensi Production</th>
        </ng-container>
        <ng-container matColumnDef="potensi_prod_gross">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gross</span>
              <app-xfilter title="Potensi Production Gross" column="potensi_prod_gross" format="number" [selected]="potensi_prod_gross_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.potensi_prod_gross | number : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="potensi_prod_net">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Net</span>
              <app-xfilter title="Potensi Production Net" column="potensi_prod_net" format="number" [selected]="potensi_prod_net_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.potensi_prod_net | number : '1.0-0') || '-'}}</td>
        </ng-container>
         <ng-container matColumnDef="tes_prod">
          <th mat-header-cell *matHeaderCellDef colspan="2">Tes Production</th>
        </ng-container>
        <ng-container matColumnDef="tes_prod_gross">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gross</span>
              <app-xfilter title="Tes Production Gross" column="tes_prod_gross" format="number" [selected]="tes_prod_gross_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.tes_prod_gross | number : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="tes_prod_net">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Net</span>
              <app-xfilter title="Tes Production Net" column="tes_prod_net" format="number" [selected]="tes_prod_net_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.tes_prod_net | number : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="fig">
          <th mat-header-cell *matHeaderCellDef colspan="4">Figure</th>
        </ng-container>
        <ng-container matColumnDef="fig_last_gross">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gross</span>
              <app-xfilter title="Last Tes" column="fig_last_gross" format="number" [selected]="fig_last_gross_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.fig_last_gross | number : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="fig_last_net">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Net</span>
              <app-xfilter title="Last Tes" column="fig_last_net" format="number" [selected]="fig_last_net_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.fig_last_net | number : '1.0-0') || '-'}}</td>
        </ng-container>

        <ng-container matColumnDef="fig_curr_gross">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gross</span>
              <app-xfilter title="Current Tes" column="fig_curr_gross" format="number" [selected]="fig_curr_gross_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.fig_curr_gross | number : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="fig_curr_net">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Net</span>
              <app-xfilter title="Current Tes" column="fig_curr_net" format="number" [selected]="fig_curr_net_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.fig_curr_net | number : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="last_test">
          <th mat-header-cell *matHeaderCellDef colspan="2" class="header-sub">Last Tes</th>
        </ng-container>
        <ng-container matColumnDef="current_test">
          <th mat-header-cell *matHeaderCellDef colspan="2" class="header-sub">Current Tes</th>
        </ng-container>
        <ng-container matColumnDef="thp_last_fig">
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">L/O/G Thp Last Figure</span>
              <app-xfilter title="thp_last_fig" column="thp_last_fig" format="number" [selected]="thp_last_fig_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.thp_last_fig | number : '1.0-2') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="thp_potensi">
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">L/O/G Thp potensi</span>
              <app-xfilter title="thp_potensi" column="thp_potensi" format="number" [selected]="thp_potensi_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.thp_potensi | number : '1.0-2') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="wc">
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">WC</span>
              <app-xfilter title="WC" column="wc" format="number" [selected]="wc_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.wc/100 | percent : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="prod_hours">
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Production Hours</span>
              <app-xfilter title="prod_hours" column="prod_hours" format="number" [selected]="prod_hours_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.prod_hours | number : '1.0-2') || '-'}}</td>
        </ng-container>
         <ng-container matColumnDef="wor">
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">WOR</span>
              <app-xfilter title="wor" column="wor" format="number" [selected]="wor_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.wor | number : '1.0-2') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="gas">
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Q.Gas</span>
              <app-xfilter title="Gas" column="gas" format="number" [selected]="gas_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.gas | number : '1.0-2') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="gor">
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">GOR</span>
              <app-xfilter title="gor" column="gor" format="number" [selected]="gor_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.gor | number : '1.0-2') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="glr">
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">GLR</span>
              <app-xfilter title="glr" column="glr" format="number" [selected]="glr_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.glr | number : '1.0-2') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="lifting_status">
          <th mat-header-cell *matHeaderCellDef colspan="4">Lifting Status</th>
        </ng-container>
        <ng-container matColumnDef="ls_method">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Method</span>
              <app-xfilter title="ls_method" column="ls_method" [selected]="ls_method_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.ls_method || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="ls_brandtype">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Brandtype</span>
              <app-xfilter title="ls_brandtype" column="ls_brandtype" [selected]="ls_brandtype_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.ls_brandtype || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="ls_prime_mover">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Prime Mover</span>
              <app-xfilter title="ls_prime_mover" column="ls_prime_mover" [selected]="ls_prime_mover_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.ls_prime_mover || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="ls_hp">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">HP/VRG</span>
              <app-xfilter title="ls_hp" column="ls_hp" [selected]="ls_hp_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.ls_hp || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="daftar_sumur">
          <th mat-header-cell *matHeaderCellDef colspan="13">Daftar Sumur</th>
        </ng-container>
        <ng-container matColumnDef="ds_bean">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Bean</span>
              <app-xfilter title="ds_bean" column="ds_bean" [selected]="ds_bean_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{(row.ds_bean | number : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="ds_whp">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">WHP</span>
              <app-xfilter title="Whp" column="ds_whp" format="number" [selected]="ds_whp_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.ds_whp | number : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="ds_fl">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">FL</span>
              <app-xfilter title="ds_fl" column="ds_fl" format="number" [selected]="ds_fl_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.ds_fl | number : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="ds_casing">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Casing</span>
              <app-xfilter title="ds_casing" column="ds_casing" format="number" [selected]="ds_casing_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.ds_casing | number : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="ds_separator">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Separator</span>
              <app-xfilter title="ds_separator" column="ds_separator" format="number" [selected]="ds_separator_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.ds_separator | number : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="ds_spm">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">SPM/Freq.</span>
              <app-xfilter title="ds Spm" column="ds_spm" format="number" [selected]="ds_spm_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.ds_spm/100 | number ) || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="ds_size">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Pump Size</span>
              <app-xfilter title="Pump Size" column="ds_size" [selected]="ds_size_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.ds_size || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="ds_pump_displace">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Pump Displace</span>
              <app-xfilter title="Pump Displace" column="ds_pump_displace" format="number" [selected]="ds_pump_displace_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.ds_pump_displace | number : '1.0-0') || '-'}}</td>
        </ng-container>
         <ng-container matColumnDef="ds_efficiency">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Pump Efficiency</span>
              <app-xfilter title="Pump Efficiency" column="ds_efficiency" format="number" [selected]="ds_efficiency_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.ds_efficiency | percent : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="ds_sl">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">SL</span>
              <app-xfilter title="Sl" column="ds_sl" format="number" [selected]="ds_sl_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.ds_sl | number : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="ds_kd">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">KD</span>
              <app-xfilter title="KD" column="ds_kd" format="number" [selected]="ds_kd_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.ds_kd | number : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="sm">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">SM</span>
              <app-xfilter title="SM" column="sm" format="number" [selected]="sm_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.sm | number : '1.0-0') || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="ds_tgl_pengujian" sticky>
          <th mat-header-cell *matHeaderCellDef  rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Tanggal Pengujian</span>
              <app-xfilter title="ds_tgl_pengujian" column="ds_tgl_pengujian" format="date" [selected]="ds_tgl_pengujian_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.date ? (row.ds_tgl_pengujian | date: 'dd MMM y') : '-'}}</td>
        </ng-container>
        <!-- <ng-container matColumnDef="art_lift_bean_size">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Bean Size</span>
              <app-xfilter title="Art Lift Bean Size" column="art_lift_bean_size" format="number" [selected]="art_lift_bean_size_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.art_lift_bean_size | number : '1.0-0') || '-'}}</td>
        </ng-container> -->
		<ng-container matColumnDef="noted">
          <th mat-header-cell *matHeaderCellDef rowspan="3">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Remarks</span>
              <app-xfilter title="Noted" column="noted" [selected]="noted_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.noted || '-'}}</td>
        </ng-container>
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef rowspan="3">Action</th>
          <td mat-cell *matCellDef="let row">
            <!--button mat-button *ngIf="passPermission('/pe/daily/edit')" [routerLink]="['/', 'presence','device', 'edit', row.PE_TICKET_ID]" matTooltip="Edit Device" ><mat-icon>edit</mat-icon></button>
            <button mat-button *ngIf="passPermission('/pe/daily/delete')" (click)="deletePeDaily(row.PE_TICKET_ID)" matTooltip="Delete Device"><mat-icon>delete</mat-icon></button-->
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='headerColumns1; sticky: true'></tr>
        <tr mat-header-row *matHeaderRowDef='headerColumns2; sticky: true'></tr>
        <tr mat-header-row *matHeaderRowDef='headerColumns3; sticky: true'></tr>
        <tr mat-header-row *matHeaderRowDef='headerColumns4; sticky: true'></tr>
        <tr mat-row *matRowDef='let row; columns: displayedColumns;' (click)="(!isEditing) ? selection.toggle(row) : null"></tr>
      </table>

    </div>

    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[50, 100, 500, 1000]" showFirstLastButtons></mat-paginator>
    <router-outlet></router-outlet>
    <router-outlet name="overlay2"></router-outlet>
  </div>
