/* form */

.container-top-bar {
  margin-right: 21.5%;
}

mat-card { 
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.container-content {
  width: 100%;
}

.chart-card {
  width: 100%;
  display: block;
}

.per_area_chart, .per_area_chart_off {
  width: 100%;
  height: 380px;
}
mat-progress-bar {
  width: 332px;
}

mat-form-field {
   width: 250px;
}

::ng-deep .mat-card-header-text {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

mat-card-content {
  
}

mat-card-actions {
  margin-left: 0;
  margin-right: 0;
}

/* list */

.rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

/* verify table */

::ng-deep .mat-form-field-infix {
  width: auto !important;
}

.select-well {
  padding-top: 0.625em;
  width: 100px
}

.input-hidden {
    position: absolute;
    width: 0px;
    border: none;
    height: 100%;
}

#daily_chart_el,
#weekly_chart_el,
#monthly_chart_el {
  min-height: 400px;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 5px !important;
}

::ng-deep .mat-form-field {
  padding-right: 10px !important;
}


::ng-deep .mat-form-field-wrapper .mat-form-field-underline {
  bottom: 5px !important;
}

::ng-deep .mat-form-field-wrapper .mat-form-field-infix {
  padding: 5px !important;
}

.field-well app-xfilter {
  position: absolute;
  right: 0px;
  top: -5px;
}

.daily_chart {
  height : 80vh;
}

.clicked_row {
  //background-color: lightgreen;
  background-color: #f57070;
}


.container-content {
  padding: 5px;
  box-shadow: 0 2px 1px -1px rgb(255, 0, 0), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  background-color: white;
  border-radius: 8px;
}

ng::host .mat-horizontal-stepper-content {
  display: flex !important;
  align-items: center !important;
}

.margin-10 {
  margin-right : 10px;
}

.progress-bar {
  margin-top : 20px;
}

.table-action-header {
  display : flex;
  justify-content : space-between;
  padding : 10px;
}

.table-action-header > button {
  margin : 10px;
}

.form-report {
  padding: 20px 30px !important;
  margin-top: -8px;
}

.w_interval {
  resize: horizontal;
  min-width: 300px;
}

.w_art_lift_type {
  resize: horizontal;
  min-width: 200px;
}

.w_100 {
  resize: horizontal;
  min-width: 100px;
}
