<div class="container-top-bar" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">

  <mat-form-field class="filter" floatLabel="never">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="start_datePicker" [formControl]="start_dateControl" (dateChange)="start_dateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="start_datePicker"></mat-datepicker-toggle>
    <mat-datepicker #start_datePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="filter" floatLabel="never">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="end_datePicker" [formControl]="end_dateControl" (dateChange)="end_dateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="end_datePicker"></mat-datepicker-toggle>
    <mat-datepicker #end_datePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="filter" floatLabel="never">
    <mat-label>Kategori</mat-label>
    <mat-select [(ngModel)]="selectedKategori">
      <mat-option *ngFor="let k of kategoriList" [value]="k.code">{{k.label}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <mat-checkbox [(ngModel)]="hideAdded">Sembunyikan sumur yang sudah ada</mat-checkbox> -->

</div>

<div class="container-content">
  <div class="loading-shade" *ngIf="isLoading || isSaving">
    <mat-spinner></mat-spinner>
  </div>

  <div class="well-summary">
    <span>Periode: <b>{{start_dateInput}} - {{end_dateInput}}</b></span>
    <span>Terpilih: <b>{{selectedCount}}</b> sumur</span>
    <span>Delta total terpilih: <b [class.negative]="deltaTotal < 0">{{deltaTotal | number:'1.0-3'}} BOPD</b></span>
    <button mat-button color="primary" (click)="resetDelta()" [disabled]="selectedCount == 0">
      <mat-icon>restart_alt</mat-icon> Reset Delta ke Nilai Daily
    </button>
  </div>

  <div [formGroup]="waterfallForm">
    <ng-container formArrayName="wells">
      <mat-grid-list cols="16" *ngFor="let row of wellsForm.controls; let index=index">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-form-field [formGroupName]="index">
            <mat-label>Select Well</mat-label>
            <mat-select formControlName="well" required (selectionChange)="wellChange(index, $event)">
              <mat-option *ngFor="let well of wellOptions" [value]="well.well" [disabled]="well.added">
                {{ well.well }}<span *ngIf="well.added"> (sudah ada)</span>
              </mat-option>
            </mat-select>
            <mat-error *ngIf="showWellError(index)">Well is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field [formGroupName]="index">
            <mat-label>Net Awal (BOPD)</mat-label>
            <input matInput readonly [value]="wellBefore(index) | number:'1.0-3'">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field [formGroupName]="index">
            <mat-label>Net Akhir (BOPD)</mat-label>
            <input matInput readonly [value]="wellAfter(index) | number:'1.0-3'">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <mat-form-field [formGroupName]="index">
            <mat-label>Delta Prod (BOPD)</mat-label>
            <input matInput formControlName="delta_prod" type="number">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <mat-form-field [formGroupName]="index">
            <mat-label>Remarks</mat-label>
            <input matInput formControlName="remarks" placeholder="keterangan">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button mat-button color="basic" (click)="addWellForm()"><mat-icon>add</mat-icon></button>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="index > 0">
          <button mat-button color="basic" (click)="removeWellForm(index)"><mat-icon>delete</mat-icon></button>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-container>

    <div class="action-bar">
      <button mat-raised-button color="secondary" (click)="onSave()" [disabled]="isSaving || !waterfallForm.valid">
        <mat-icon>save</mat-icon> Save
      </button>
      <span class="margin-10"></span>
      <button mat-raised-button (click)="backToList()">
        <mat-icon>list</mat-icon> Back to List
      </button>
    </div>
  </div>
</div>
