<div class="container-content">
	<mat-horizontal-stepper linear #stepper>
    <mat-step completed=false>
      <ng-template matStepLabel>Upload Excel</ng-template>
      <div>
        <input style="display: none" (change)="handleFile($event)" type="file" #fileInput />
      </div>
      <button mat-raised-button color="basic" (click)="fileInput.click()" class="margin-10"><mat-icon>file_open</mat-icon> Pick File</button> {{ fileName }}
      <div class="loading-shade" *ngIf="isUploading">
        <mat-spinner></mat-spinner>
      </div>
      <span class="margin-10"></span>
      <button mat-raised-button color="secondary" (click)="onUpload()" *ngIf="fileName"><mat-icon>upload</mat-icon> Upload</button>
      <!--div>
    <button mat-button matStepperNext>Next</button>
  </div-->
      <div class="progress-bar" *ngIf="isUploading">
        <mat-progress-bar mode="determinate" value="{{ progressPercent }}"></mat-progress-bar> {{ progressPercent }} %
      </div>
    </mat-step>

	    <mat-step completed=false>
	      	<ng-template matStepLabel>Verify Data</ng-template>
					<div *ngIf="data_error_count == 0">
						Save this data ?
						<button mat-raised-button (click)="stepper.reset();resetData()"><mat-icon>cached</mat-icon> Reset</button>
						<span class="margin-10"></span>
						<button mat-raised-button (click)="saveData()"><mat-icon>save</mat-icon> Commit</button>
					</div>
	      	<div *ngIf="data_error_count > 0">
	      		<div class="cell-error">There are {{ data_error_count }} error(s) in your data</div>
	        	<button mat-raised-button (click)="stepper.reset();resetData()">Reset</button>
	      	</div>
	      	<mat-form-field>
	      		<mat-select [(value)]="data_mode" (selectionChange)="loadData()">
					<mat-option value="all">Show All</mat-option>
					<mat-option value="error">Show error(s) only</mat-option>
					<mat-option value="warning">Show warning(s) only</mat-option>
				</mat-select>
	      	</mat-form-field>
	      	<div class="loading-shade" *ngIf="isSaving || isLoading">
				<mat-spinner></mat-spinner>
			</div>
	      	<div class="container-table">
				<table mat-table [dataSource]="data" class="pe-table"
				    matSort matSortActive="date" matSortDisableClear matSortDirection="desc">

				    <ng-container matColumnDef="info">
				      <th mat-header-cell *matHeaderCellDef rowspan="2"></th>
				      <td mat-cell *matCellDef="let row" class="cell-center" [ngClass]="{'cell-warning':row._error._row?.value=='warning','cell-error':row._error._row?.value=='error'}" [matTooltip]="row._error._row?.message" matTooltipPosition="after"><mat-icon>{{row._error._row?.value}}</mat-icon></td>
				    </ng-container>
				    
				    <ng-container matColumnDef="nomor">
				      <th mat-header-cell *matHeaderCellDef rowspan="2">No. PU</th>
				      <td mat-cell *matCellDef="let row" class="cell-center" [ngClass]="{'cell-error':row._error.nomor?.value}" [matTooltip]="row._error.nomor?.message" matTooltipPosition="after">{{row.nomor || row._error.nomor?.value || '-'}}</td>
				    </ng-container>

				    <ng-container matColumnDef="well">
				      <th mat-header-cell *matHeaderCellDef rowspan="2">Sumur Produksi</th>
				      <td mat-cell *matCellDef="let row" class="cell-center" [ngClass]="{'cell-error':row._error.well?.value}" [matTooltip]="row._error.well?.message" matTooltipPosition="after">{{row.well || row._error.well?.value || '-'}}</td>
				    </ng-container>

					<ng-container matColumnDef="status">
						<th mat-header-cell *matHeaderCellDef rowspan="2">Status</th>
						<td mat-cell *matCellDef="let row" class="cell-center" [ngClass]="{'cell-error':row._error.status?.value}" [matTooltip]="row._error.status?.message" matTooltipPosition="after">{{row.status || row._error.status?.value || '-'}}</td>
					</ng-container>

					<ng-container matColumnDef="primemover">
						<th mat-header-cell *matHeaderCellDef rowspan="2">Primemover</th>
						<td mat-cell *matCellDef="let row" class="cell-center" [ngClass]="{'cell-error':row._error.primemover?.value}" [matTooltip]="row._error.primemover?.message" matTooltipPosition="after">{{row.primemover || row._error.primemover?.value || '-'}}</td>
					</ng-container>

					<ng-container matColumnDef="merk">
						<th mat-header-cell *matHeaderCellDef rowspan="2">Merk Pumping Unit</th>
						<td mat-cell *matCellDef="let row" class="cell-center" [ngClass]="{'cell-error':row._error.merk?.value}" [matTooltip]="row._error.merk?.message" matTooltipPosition="after">{{row.merk || row._error.merk?.value || '-'}}</td>
					</ng-container>

					<ng-container matColumnDef="tipe">
						<th mat-header-cell *matHeaderCellDef rowspan="2">Tipe Pump</th>
						<td mat-cell *matCellDef="let row" class="cell-center" [ngClass]="{'cell-error':row._error.tipe?.value}" [matTooltip]="row._error.tipe?.message" matTooltipPosition="after">{{row.tipe || row._error.tipe?.value || '-'}}</td>
					</ng-container>

					<ng-container matColumnDef="crankhole">
				      <th mat-header-cell *matHeaderCellDef colspan="3">Crankhole</th>
				    </ng-container>

					<ng-container matColumnDef="min_ch">
						<th mat-header-cell *matHeaderCellDef>min</th>
						<td mat-cell *matCellDef="let row" class="cell-center" [ngClass]="{'cell-error':row._error.min_ch?.value}" [matTooltip]="row._error.min_ch?.message" matTooltipPosition="after">{{row.min_ch || row._error.min_ch?.value || '-'}}</td>
					</ng-container>

					<ng-container matColumnDef="med_ch">
						<th mat-header-cell *matHeaderCellDef>med</th>
						<td mat-cell *matCellDef="let row" class="cell-center" [ngClass]="{'cell-error':row._error.med_ch?.value}" [matTooltip]="row._error.med_ch?.message" matTooltipPosition="after">{{row.med_ch || row._error.med_ch?.value || '-'}}</td>
					</ng-container>

					<ng-container matColumnDef="max_ch">
						<th mat-header-cell *matHeaderCellDef>max</th>
						<td mat-cell *matCellDef="let row" class="cell-center" [ngClass]="{'cell-error':row._error.max_ch?.value}" [matTooltip]="row._error.max_ch?.message" matTooltipPosition="after">{{row.max_ch || row._error.max_ch?.value || '-'}}</td>
					</ng-container>

					<ng-container matColumnDef="panjang_sl">
				      <th mat-header-cell *matHeaderCellDef colspan="4">Panjang Sl</th>
				    </ng-container>

					<ng-container matColumnDef="min_sl">
						<th mat-header-cell *matHeaderCellDef>min</th>
						<td mat-cell *matCellDef="let row" class="cell-right" [ngClass]="{'cell-error':row._error.min_sl?.value}" [matTooltip]="row._error.min_sl?.message" matTooltipPosition="after">{{(row.min_sl | number) || row._error.min_sl?.value || '-'}}</td>
					</ng-container>

					<ng-container matColumnDef="med_sl">
						<th mat-header-cell *matHeaderCellDef>med</th>
						<td mat-cell *matCellDef="let row" class="cell-right" [ngClass]="{'cell-error':row._error.med_sl?.value}" [matTooltip]="row._error.med_sl?.message" matTooltipPosition="after">{{(row.med_sl | number) || row._error.med_sl?.value || '-'}}</td>
					</ng-container>

					<ng-container matColumnDef="max_sl">
						<th mat-header-cell *matHeaderCellDef>max</th>
						<td mat-cell *matCellDef="let row" class="cell-right" [ngClass]="{'cell-error':row._error.max_sl?.value}" [matTooltip]="row._error.max_sl?.message" matTooltipPosition="after">{{(row.max_sl | number) || row._error.max_sl?.value || '-'}}</td>
					</ng-container>

					<ng-container matColumnDef="used_sl">
						<th mat-header-cell *matHeaderCellDef>Used</th>
						<td mat-cell *matCellDef="let row" class="cell-right" [ngClass]="{'cell-error':row._error.used_sl?.value}" [matTooltip]="row._error.used_sl?.message" matTooltipPosition="after">{{(row.used_sl | number) || row._error.used_sl?.value || '-'}}</td>
					</ng-container>

					<ng-container matColumnDef="noted">
						<th mat-header-cell *matHeaderCellDef rowspan="2">Trouble/Remarks</th>
						<td mat-cell *matCellDef="let row" class="cell-center" [ngClass]="{'cell-error':row._error.noted?.value}" [matTooltip]="row._error.noted?.message" matTooltipPosition="after">{{row.noted || row._error.noted?.value || '-'}}</td>
					</ng-container>

				    <ng-container matColumnDef="Actions">
				      <th mat-header-cell *matHeaderCellDef>Action</th>   
				      <td mat-cell *matCellDef="let row"> 
				       <!--button mat-button *ngIf="passPermission('/pe/sensor/edit')" [routerLink]="['/', 'presence','device', 'edit', row.PE_TICKET_ID]" matTooltip="Edit Device" ><mat-icon>edit</mat-icon></button> 
				       <button mat-button *ngIf="passPermission('/pe/sensor/delete')" (click)="deletePeSensor(row.PE_TICKET_ID)" matTooltip="Delete Device"><mat-icon>delete</mat-icon></button--> 
				     </td>
				   </ng-container>

				   	<tr mat-header-row *matHeaderRowDef='headerColumns1; sticky: true'></tr>
	   				<tr mat-header-row *matHeaderRowDef='headerColumns2; sticky: true'></tr>
				   	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		 		</table>
	 		</div>
	 		<mat-paginator [length]="resultsLength"  [pageSizeOptions]="[50, 100, 500, 1000]"></mat-paginator>
	  	</mat-step>
		<mat-step>
	    	<ng-template matStepLabel>Done</ng-template>
	    		<p *ngIf="modified_count">{{ modified_count + " item(s) updated successfully." }}</p>
	    		<p *ngIf="created_count">{{ created_count + " item(s) created successfully." }}</p>
	    	<div>
	      		<button mat-raised-button (click)="stepper.reset();resetData()">Reset</button>
	    	</div>
	  	</mat-step>
	 </mat-horizontal-stepper>
</div>
