.oil_chart {
	height: 300px;
}

.gas_chart {
	height: 300px;
}

.wellstat_chart {
  height: 300px;
}

.structprod_chart {
  height: 250px;
}

.wellprod_chart {
  height: 250px;
}

.wellrank_chart {
  height: 250px;
}

.active_well_chart {
  height: 220px;
  text-align :center;
}


.mat-card-title {
  font-size: 14px;
}

.value {
  font-size: 24px;
  font-weight: bold;
}

/* ds table */
.ds-table .mat-header-row {
  height: 40px;
}
.ds-table .mat-header-cell {
  white-space: nowrap;
  padding-right: 7px;
  padding-left: 7px;
  text-align: center;
  min-width: 100px;
}

.ds-table .mat-row {
  height: 32px;
}

.ds-table .mat-cell {
  white-space: nowrap;
  padding-right: 7px;
  padding-left: 7px;
}

.ds-table .cell-center {
  text-align: center;
}
.ds-table .cell-right {
  text-align: right;
}
.ds-table .cell-error {
  color: red;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 5px !important;
}

::ng-deep .mat-form-field-wrapper .mat-form-field-underline {
  bottom: 5px !important;
}

::ng-deep .mat-form-field-wrapper .mat-form-field-infix {
  padding: 5px !important;
}
