.oil_chart {
	height: 330px;
}

.gas_chart {
	height: 330px;
}

.wellstat_chart {
  height: 290px;
}

// .highcharts-legend-item span {
//   font-size: 28px !important;
// }


.wellstat_chart_card {
  padding : 16px 5px;
}

.structprod_chart {
  height: 250px;
}

.wellprod_chart {
  height: 250px;
}

.wellrank_chart {
  height: 290px;
}

.active_well_chart {
  height: 290px;
  text-align :center;
}


.mat-card-title {
  font-size: 14px;
  text-align : center;
  float :inherit;
}

.active_well_yestd{
  padding-top: 40px;
}

.value_awy{
  color: #008040;
}

.tanggal_awy{
  color: #b3b3b3;
}

.title_awy{
  color: white;
  background: #008040;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 120px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
}

.garis_aw{
  border-left: 3px #f9f9f9 solid;
  margin-right: 12px;
  border-radius: 5px;
}

.value {
  font-size: 50px;
  font-weight: bold;
  //display : inline-flex;
  text-align : center;
  }
.uom {
  text-align : center;
}

/* ds table */
.ds-table .mat-header-row {
  height: 40px;
}
.ds-table .mat-header-cell {
  white-space: nowrap;
  padding-right: 7px;
  padding-left: 7px;
  text-align: center;
  min-width: 100px;
}

.ds-table .mat-row {
  height: 32px;
}

.ds-table .mat-cell {
  white-space: nowrap;
  padding-right: 7px;
  padding-left: 7px;
}

.ds-table .cell-center {
  text-align: center;
}
.ds-table .cell-right {
  text-align: right;
}
.ds-table .cell-error {
  color: red;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 5px !important;
}

::ng-deep .mat-form-field-wrapper .mat-form-field-underline {
  bottom: 5px !important;
}

::ng-deep .mat-form-field-wrapper .mat-form-field-infix {
  padding: 5px !important;
}

.title_dasboard {
  padding: 5px !important;
  text-align: center;
  width: 100px;
  //color: #564646;
  border-radius: 8px;
  //background-color: #ffc6c2;
}



// Oil Dashboard
// Oil Dashboard Operation
.oil_dasboard_card_operation{
  //background: linear-gradient(195deg, rgb(91, 155, 213), rgb(52, 130, 203));
  background: white;
  color: #5b9bd5;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
  transition: 0.5s all ease;
}

.oil_dasboard_card_operation .title_dasboard{
  color: white;
  background: #5b9bd5;
  margin-top: -30px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
}

.oil_dasboard_card_operation:hover {
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
  background: linear-gradient(195deg, rgb(91, 155, 213), rgb(52, 130, 203));
  color: white;
  transition: 0.5s all ease;
}


// Oil Dashboard SOT
.oil_dasboard_card_sot{
  //background: linear-gradient(195deg, rgb(91, 155, 213), rgb(52, 130, 203));
  background: white;
  color: #ed7d31;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
  transition: 0.5s all ease;
}

.oil_dasboard_card_sot .title_dasboard{
  color: white;
  background: #ed7d31;
  margin-top: -30px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
}

.oil_dasboard_card_sot:hover {
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
  background: linear-gradient(195deg, rgb(241, 151, 91), rgb(237, 125, 49));
  color: white;
  transition: 0.5s all ease;
}


// Oil Dashboard Figure
.oil_dasboard_card_figure{
  //background: linear-gradient(195deg, rgb(91, 155, 213), rgb(52, 130, 203));
  background: white;
  color: #a9d18e;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
  transition: 0.5s all ease;
}

.oil_dasboard_card_figure .title_dasboard{
  color: white;
  background: #a9d18e;
  margin-top: -30px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
}

.oil_dasboard_card_figure:hover {
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
  background: linear-gradient(195deg, rgb(169, 209, 142), rgb(131, 188, 92));
  color: white;
  transition: 0.5s all ease;
}


// Gas Dashboard
// Gas Dashboard production
.gas_dasboard_card_production{
  //background: linear-gradient(195deg, rgb(91, 155, 213), rgb(52, 130, 203));
  background: white;
  color: #f4b183;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
  transition: 0.5s all ease;
}

.gas_dasboard_card_production .title_dasboard{
  color: white;
  background: #f4b183;
  margin-top: -30px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
}

.gas_dasboard_card_production:hover {
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
  background: linear-gradient(195deg, rgb(244, 177, 131), rgb(239, 136, 67));
  color: white;
  transition: 0.5s all ease;
}

// Gas Dashboard Sales
.gas_dasboard_card_sales{
  //background: linear-gradient(195deg, rgb(91, 155, 213), rgb(52, 130, 203));
  background: white;
  color: #e6e600;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
  transition: 0.5s all ease;
}

.gas_dasboard_card_sales .title_dasboard{
  color: white;
  background: #e6e600;
  margin-top: -30px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
}

.gas_dasboard_card_sales:hover {
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
  background: linear-gradient(195deg, rgb(255, 255, 26), rgb(230, 230, 0));
  color: white;
  transition: 0.5s all ease;
}