<div class="container-top-bar" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
    <mat-form-field class="filter" floatLabel="never">
      <mat-label>Date</mat-label>
      <input matInput class="input-hidden" [matDatepicker]="datePicker" [formControl]="dateControl" (dateChange)="dateChange($event)" disabled>
      <input matInput [(ngModel)]="dateInput" disabled>
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker disabled="false"></mat-datepicker>
    </mat-form-field>
    <button mat-button (click)="commonService.toggleFullwindow()" class="button-fw" [matTooltip]="commonService.fullWindow? 'Exit Fullscreen' : 'Fullscreen'"><mat-icon>{{commonService.fullWindow? "fullscreen_exit" : "fullscreen"}}</mat-icon></button>
</div>

<div class="container-content" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'" fxLayout="column" fxLayoutGap="5px">
	<div class="loading-shade" *ngIf="isLoadingProduction">
		<mat-spinner *ngIf="isLoadingProduction"></mat-spinner>
	</div>
	<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="5px" fxLayoutAlign="center">
		
		<mat-card fxFlex="25%">
			<mat-card-title>Operasi</mat-card-title>
			<mat-card-content>
				<div class="value">{{(valueOperation | number : '1.0-2') || '-'}}</div>
				<div class="uom">BOPD</div>
			</mat-card-content>
		</mat-card>

		<mat-card fxFlex="25%">
			<mat-card-title>SOT</mat-card-title>
			<mat-card-content>
				<div class="value" *ngIf="!isLoadingSOT">{{(valueSOT | number : '1.0-2') || '-'}}</div>
				<div class="uom" *ngIf="!isLoadingSOT">BOPD</div>
			</mat-card-content>
		</mat-card>

		<mat-card fxFlex="25%">
			<mat-card-title>Figure</mat-card-title>
			<mat-card-content>
				<div class="value">{{(valueFigure | number : '1.0-2') || '-'}}</div>
				<div class="uom">BOPD</div>
			</mat-card-content>
		</mat-card>

		<mat-card fxFlex="25%">
			<mat-card-title>Gas Production</mat-card-title>
			<mat-card-content>
				<div class="value">{{(valueGas | number : '1.0-2') || '-'}}</div>
				<div class="uom">MMSCFD</div>
			</mat-card-content>
		</mat-card>

	</div>

	<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="5px" fxLayoutAlign="center">
		<mat-card fxFlex="50%">
			<div #oil_chart_el class="oil_chart"></div>
		</mat-card>
		<mat-card fxFlex="50%">
			<div #gas_chart_el class="gas_chart"></div>
		</mat-card>
	</div>

	<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutWrap fxLayoutGap="5px" fxLayoutAlign="center">

		<div fxFlex="30%" fxLayout="column" fxLayoutGap="5px">
      <mat-card fxFlex="100%">
        <!--<mat-card-title>Active Wells</mat-card-title>-->
        <mat-card-content>
          
          <div fxFlex="20%">
            <h4>Active Well</h4>
            <p class="value" align="center">{{active_wells_count}}</p>
          </div>
          <div fxFlex="80%">
            <div #active_well_chart_el class="active_well_chart"></div>
          </div>
        </mat-card-content>
      </mat-card>

			<mat-card fxFlex="100%">
				<div #wellstat_chart_el class="wellstat_chart"></div>
			</mat-card>
		</div>

		<div fxFlex="70%" fxLayout="column" fxLayoutGap="5px">
			<mat-card fxFlex="100%">
				<div #wellrank_chart_el class="wellrank_chart"></div>
			</mat-card>

			<div fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
				<mat-card fxFlex="58%">
					<div #structprod_chart_el class="structprod_chart"></div>
				</mat-card>

				<mat-card fxFlex="42%">
					<div #wellprod_chart_el class="wellprod_chart"></div>
				</mat-card>
			</div>
			
		</div>

	</div>
</div>
