<div class="container-top-bar" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
  <!--mat-form-field>
    <input matInput placeholder="Filter" [formControl]="filterControl">
  </mat-form-field-->
  <button mat-button color="primary" [disabled]="isLoadingResults" [routerLink]="['/pe/sonolog/add']" *ngIf="pePermissionService.passPermission('pe/sonolog/add')"><mat-icon>add</mat-icon> Add/Edit</button>
  <button mat-button color="warn" (click)="deleteSelected()" [disabled]="!selection.selected.length" *ngIf="pePermissionService.passPermission('pe/sonolog/delete')"><mat-icon>delete</mat-icon> Delete Selected</button>
  <button mat-button color="secondary" (click)="exportExcel()" [disabled]="isLoadingResults"><mat-icon>file_download</mat-icon>  Export to Excel</button>
  <button mat-button color="tertiary" [disabled]="isLoadingResults" [routerLink]="['/pe/sonolog/sonolog-chart']"><mat-icon>bar_chart</mat-icon>Chart</button>
</div>

<div class="container-content" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
  
  <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="container-table" [style.max-height]="(commonService.Math.max(commonService.screenHeight - 180, 250))+'px'">

    <table mat-table [dataSource]="data" class="pe-table"
    matSort matSortActive="date" matSortDisableClear matSortDirection="desc">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <mat-checkbox (change)="($event && !isEditing) ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
          [disabled]="isEditing" *ngIf="pePermissionService.passPermission('pe/daily/delete')">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="($event && !isEditing) ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
          [disabled]="isEditing" *ngIf="pePermissionService.passPermission('pe/daily/delete')">
        </mat-checkbox>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="date" >
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Date</span>
          <app-xfilter title="Date" column="date" format="date" [selected]="date_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.date ? (row.date | date: 'dd MMM y') : '-'}}</td>
    </ng-container>

    <ng-container matColumnDef="well">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Well</span>
          <app-xfilter title="Well" column="well" [selected]="well_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.well}}</td>
    </ng-container>

   <ng-container matColumnDef="pump_intake">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Pump Intake</span>
          <app-xfilter title="pump_intake" column="pump_intake" format="number" [selected]="pump_intake_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.pump_intake | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="fluid_level">
      <th mat-header-cell *matHeaderCellDef colspan="2">Fluid Level</th>
    </ng-container>

   <ng-container matColumnDef="dfl">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Dynamic</span>
          <app-xfilter title="dfl" column="dfl" format="number" [selected]="dfl_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.dfl | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="cdfl">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Cor. Dynamic</span>
          <app-xfilter title="cdfl" column="cdfl" format="number" [selected]="cdfl_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.cdfl | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="sfl">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Static</span>
          <app-xfilter title="sfl" column="sfl" format="number" [selected]="sfl_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.sfl | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="tglc">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Total Gaseous Liq. Column</span>
          <app-xfilter title="tglc" column="tglc" format="number" [selected]="tglc_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.tglc | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="egfl">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Equivalent Gas Free Liq</span>
          <app-xfilter title="egfl" column="egfl" format="number" [selected]="egfl_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.egfl | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="al">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Liquid</span>
          <app-xfilter title="al" column="al" format="number" [selected]="al_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.al | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="thp">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">THP</span>
          <app-xfilter title="thp" column="thp" format="number" [selected]="thp_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.thp | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="spm">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">SPM</span>
          <app-xfilter title="spm" column="spm" format="number" [selected]="spm_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{row.spm}}</td>
   </ng-container>

   <ng-container matColumnDef="cp">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Casing Pressure</span>
          <app-xfilter title="cp" column="cp" format="number" [selected]="cp_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.cp | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="agf">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Annular Gas Flow</span>
          <app-xfilter title="agf" column="agf" format="number" [selected]="agf_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.agf | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="pbhp">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">PBHP</span>
          <app-xfilter title="pbhp" column="pbhp" format="number" [selected]="pbhp_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.pbhp | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="sbhp">
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">SBHP</span>
          <app-xfilter title="sbhp" column="sbhp" format="number" [selected]="sbhp_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.sbhp | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="time" >
      <th mat-header-cell *matHeaderCellDef rowspan="2">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Time</span>
          <app-xfilter title="Time" column="time" format="time" [selected]="time_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.time ? (row.time | date: 'HH:mm:ss') : '-'}}</td>
    </ng-container>


    <ng-container matColumnDef="Actions" rowspan="2">
      <th mat-header-cell *matHeaderCellDef>Action</th>   
      <td mat-cell *matCellDef="let row"> 
       <!--button mat-button *ngIf="passPermission('/pe/sonolog/edit')" [routerLink]="['/', 'presence','device', 'edit', row.PE_TICKET_ID]" matTooltip="Edit Device" ><mat-icon>edit</mat-icon></button> 
       <button mat-button *ngIf="passPermission('/pe/sonolog/delete')" (click)="deletePeSonolog(row.PE_TICKET_ID)" matTooltip="Delete Device"><mat-icon>delete</mat-icon></button--> 
     </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef='headerColumns1; sticky: true'></tr>
   <tr mat-header-row *matHeaderRowDef='headerColumns2; sticky: true'></tr>
   <tr mat-row *matRowDef='let row; columns: displayedColumns;' (click)="(!isEditing) ? selection.toggle(row) : null"></tr>
 </table>
</div>

<mat-paginator [length]="resultsLength"  [pageSizeOptions]="[50, 100, 500, 1000]" showFirstLastButtons></mat-paginator>
<router-outlet></router-outlet>
  <router-outlet name="overlay2"></router-outlet>
</div>
