<div class="container-top-bar" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
  <!--mat-form-field>
    <input matInput placeholder="Filter" [formControl]="filterControl">
  </mat-form-field-->
  <button mat-button color="primary" [disabled]="isLoadingResults" [routerLink]="['/pe/lab/add']" *ngIf="pePermissionService.passPermission('pe/lab/add')"><mat-icon>add</mat-icon> Add/Edit</button>
  <button mat-button color="warn" (click)="deleteSelected()" [disabled]="!selection.selected.length" *ngIf="pePermissionService.passPermission('pe/lab/delete')"><mat-icon>delete</mat-icon> Delete Selected</button>
  <button mat-button color="secondary" (click)="exportExcel()" [disabled]="isLoadingResults"><mat-icon>file_download</mat-icon> Export to Excel</button>
  <!-- <button mat-button color="tertiary" [disabled]="isLoadingResults" [routerLink]="['/pe/bhp/bhp-chart']"><mat-icon>bar_chart</mat-icon>Chart</button> -->
</div>

<div class="container-content" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
  
  <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="container-table" [style.max-height]="(commonService.Math.max(commonService.screenHeight - 180, 250))+'px'">

    <table mat-table [dataSource]="dataSource" class="pe-table"
    matSort matSortActive="date" matSortDisableClear matSortDirection="desc">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
          *ngIf="pePermissionService.passPermission('pe/lab/delete')">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
          *ngIf="pePermissionService.passPermission('pe/lab/delete')">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="nomor">
            <th mat-header-cell *matHeaderCellDef>
              <div fxLayout="row" fxLayoutAlign="start center">
                <span mat-sort-header arrowPosition="before" class="mat-sort-header">No</span>
                <app-xfilter title="Nomor" column="nomor" format="number" [selected]="nomor_xSelected"></app-xfilter>
              </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.nomor | number : '1.0-0') || '-'}}</td>
        </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before">ID</span>
            <app-xfilter title="ID" column="_id" [selected]="id_xSelected"></app-xfilter>
          </div>
      </th>
        <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row._id}}</td>
      </ng-container>

      <ng-container matColumnDef="nama_alat" sticky>
        <th mat-header-cell *matHeaderCellDef>
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before">Nama Alat</span>
            <app-xfilter title="Nama Alat" column="nama_alat" [selected]="nama_alat_xSelected"></app-xfilter>
          </div>
      </th>
        <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">
          <ng-container *ngIf="!row.isEdit; else editNama">
            {{ row.nama_alat }}
          </ng-container><ng-template #editNama>
            <input
              matInput
              [(ngModel)]="row.nama_alat"
              (keydown.enter)="save(row)"
              (keydown.escape)="cancel(row)"
              autofocus>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="spesifikasi">
        <th mat-header-cell *matHeaderCellDef>
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before">Spesifikasi</span>
            <app-xfilter title="Spesifikasi" column="spesifikasi" [selected]="spesifikasi_xSelected"></app-xfilter>
          </div>
      </th>
        <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">
          <ng-container *ngIf="!row.isEdit; else editNama">
            {{ row.spesifikasi }}
          </ng-container><ng-template #editNama>
            <input
              matInput
              [(ngModel)]="row.spesifikasi"
              (keydown.enter)="save(row)"
              (keydown.escape)="cancel(row)"
              autofocus>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="satuan">
        <th mat-header-cell *matHeaderCellDef>
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before">Satuan</span>
            <app-xfilter title="Satuan" column="satuan" [selected]="satuan_xSelected"></app-xfilter>
          </div>
      </th>
        <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">
           <ng-container *ngIf="!row.isEdit; else editNama">
            {{ row.satuan }}
          </ng-container><ng-template #editNama>
            <input
              matInput
              [(ngModel)]="row.satuan"
              (keydown.enter)="save(row)"
              (keydown.escape)="cancel(row)"
              autofocus>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="kegunaan"  style="width:500px; min-width:500px; max-width:500px">
        <th mat-header-cell *matHeaderCellDef class="col-kegunaan">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before">Kegunaan</span>
            <app-xfilter title="Kegunaan" column="kegunaan" [selected]="kegunaan_xSelected"></app-xfilter>
          </div>
      </th>
        <td mat-cell *matCellDef="let row" style="width:500px; min-width:500px; max-width:500px" class="col-kegunaan" [class.clicked_row]="selection.isSelected(row)">
           <ng-container *ngIf="!row.isEdit; else editNama">
            {{ row.kegunaan }}
          </ng-container><ng-template #editNama>
            <input
              matInput
              [(ngModel)]="row.kegunaan"
              (keydown.enter)="save(row)"
              (keydown.escape)="cancel(row)"
              autofocus>
          </ng-template>
        </td>
      </ng-container>

        <ng-container matColumnDef="baru">
            <th mat-header-cell *matHeaderCellDef>
              <div fxLayout="row" fxLayoutAlign="start center">
                <span mat-sort-header arrowPosition="before" class="mat-sort-header">Baru</span>
                <app-xfilter title="baru" column="baru" format="number" [selected]="baru_xSelected"></app-xfilter>
              </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">
             <ng-container *ngIf="!row.isEdit; else editNama">
              {{(row.baru | number : '1.0-0') || '-'}}
            </ng-container><ng-template #editNama>
              <input
                matInput
                [(ngModel)]="row.baru"
                (keydown.enter)="save(row)"
                (keydown.escape)="cancel(row)"
                (ngModelChange)="onValueChange(row)"
                autofocus>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="lama">
            <th mat-header-cell *matHeaderCellDef>
              <div fxLayout="row" fxLayoutAlign="start center">
                <span mat-sort-header arrowPosition="before" class="mat-sort-header">Lama</span>
                <app-xfilter title="lama" column="lama" format="number" [selected]="lama_xSelected"></app-xfilter>
              </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">
             <ng-container *ngIf="!row.isEdit; else editNama">
              {{(row.lama | number : '1.0-0') || '-'}}
            </ng-container><ng-template #editNama>
              <input
                matInput
                [(ngModel)]="row.lama"
                (keydown.enter)="save(row)"
                (keydown.escape)="cancel(row)"
                (ngModelChange)="onValueChange(row)"
                autofocus>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="rusak">
            <th mat-header-cell *matHeaderCellDef>
              <div fxLayout="row" fxLayoutAlign="start center">
                <span mat-sort-header arrowPosition="before" class="mat-sort-header">Rusak</span>
                <app-xfilter title="rusak" column="rusak" format="number" [selected]="rusak_xSelected"></app-xfilter>
              </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">
             <ng-container *ngIf="!row.isEdit; else editNama">
            {{(row.rusak | number : '1.0-0') || '-'}}
          </ng-container><ng-template #editNama>
            <input
              matInput
              [(ngModel)]="row.rusak"
              (keydown.enter)="save(row)"
              (keydown.escape)="cancel(row)"
              (ngModelChange)="onValueChange(row)"
              autofocus>
          </ng-template></td>
        </ng-container>

        <ng-container matColumnDef="stok_awal">
            <th mat-header-cell *matHeaderCellDef>
              <div fxLayout="row" fxLayoutAlign="start center">
                <span mat-sort-header arrowPosition="before" class="mat-sort-header">Stok Awal</span>
                <app-xfilter title="stok_awal" column="stok_awal" format="number" [selected]="stok_awal_xSelected"></app-xfilter>
              </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">
             <ng-container *ngIf="!row.isEdit; else editNama">
              {{(row.stok_awal | number : '1.0-0') || '-'}}
            </ng-container><ng-template #editNama>
              <input
                matInput
                [(ngModel)]="row.stok_awal"
                (keydown.enter)="save(row)"
                (keydown.escape)="cancel(row)"
                (ngModelChange)="onValueChange(row)"
                autofocus>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="barang_masuk">
            <th mat-header-cell *matHeaderCellDef>
              <div fxLayout="row" fxLayoutAlign="start center">
                <span mat-sort-header arrowPosition="before" class="mat-sort-header">Barang Masuk</span>
                <app-xfilter title="barang_masuk" column="barang_masuk" format="number" [selected]="barang_masuk_xSelected"></app-xfilter>
              </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">
             <ng-container *ngIf="!row.isEdit; else editNama">
            {{(row.barang_masuk | number : '1.0-0') || '-'}}
            </ng-container><ng-template #editNama>
              <input
                matInput
                [(ngModel)]="row.barang_masuk"
                (keydown.enter)="save(row)"
                (keydown.escape)="cancel(row)"
                (ngModelChange)="onValueChange(row)"
                autofocus>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="barang_keluar">
            <th mat-header-cell *matHeaderCellDef>
              <div fxLayout="row" fxLayoutAlign="start center">
                <span mat-sort-header arrowPosition="before" class="mat-sort-header">Barang Keluar</span>
                <app-xfilter title="barang_keluar" column="barang_keluar" format="number" [selected]="barang_keluar_xSelected"></app-xfilter>
              </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">
             <ng-container *ngIf="!row.isEdit; else editNama">
              {{(row.barang_keluar | number : '1.0-0') || '-'}}
            </ng-container><ng-template #editNama>
              <input
                matInput
                [(ngModel)]="row.barang_keluar"
                (keydown.enter)="save(row)"
                (keydown.escape)="cancel(row)"
                (ngModelChange)="onValueChange(row)"
                autofocus>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="stok_akhir">
            <th mat-header-cell *matHeaderCellDef>
              <div fxLayout="row" fxLayoutAlign="start center">
                <span mat-sort-header arrowPosition="before" class="mat-sort-header">Stok Akhir</span>
                <app-xfilter title="stok_akhir" column="stok_akhir" format="number" [selected]="stok_akhir_xSelected"></app-xfilter>
              </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">
             <ng-container *ngIf="!row.isEdit; else editNama">
              {{(row.stok_akhir | number : '1.0-0') || '-'}}
            </ng-container><ng-template #editNama>
              <input
                matInput
                [(ngModel)]="row.stok_akhir"
                (keydown.enter)="save(row)"
                (keydown.escape)="cancel(row)"
                (ngModelChange)="onValueChange(row)"
                autofocus>
            </ng-template>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="keterangan">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Keterangan</span>
              <app-xfilter title="Keterangan" column="keterangan" [selected]="keterangan_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">
            <ng-container *ngIf="!row.isEdit; else editNama">
              {{row.keterangan || '-'}}
            </ng-container><ng-template #editNama>
              <input
                matInput
                [(ngModel)]="row.keterangan"
                (keydown.enter)="save(row)"
                (keydown.escape)="cancel(row)"
                autofocus>
            </ng-template>
          </td>
        </ng-container>

    <ng-container matColumnDef="action" stickyEnd>
      <th mat-header-cell *matHeaderCellDef class="cell-center action-column">
        Action
      </th>
      <td mat-cell *matCellDef="let row" class="cell-center action-column">
        <button
          mat-icon-button
          color="primary"
          *ngIf="!row.isEdit && pePermissionService.passPermission('pe/lab/edit')"
          (click)="edit(row)"
          matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>

        <ng-container *ngIf="row.isEdit">
          <button
            mat-icon-button
            color="accent"
            (click)="save(row)"
            matTooltip="Save">
            <mat-icon>check</mat-icon>
          </button>

          <button
            mat-icon-button
            color="warn"
            (click)="cancel(row)"
            matTooltip="Cancel">
            <mat-icon>close</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>


   <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
 </table>
</div>

<mat-paginator [length]="resultsLength"  [pageSizeOptions]="[50, 100, 500, 1000]"></mat-paginator>
<router-outlet></router-outlet>
  <router-outlet name="overlay2"></router-outlet>
</div>
