.wellstat_chart {
	height: 400px;
}
.wellstat-table {
  /*height: 400px;*/
}

.structprod_chart {
	height: 400px;
}
.structprod-table {
  /*height: 400px;*/
}

.wellprod_chart {
  height: 430px;
}
.wellprod-table {
  /*height: 400px;*/
}

.wellrank_chart {
  height: 430px;
}
.wellrank-table {
  /*height: 400px;*/
}

.container-table {
  /*position: relative;*/
  max-height: 430px;
  overflow: auto;
}

/* ds table */
.ds-table {
  width: 100%;
}
.ds-table .mat-header-row {
  height: 40px;
}
.ds-table .mat-header-cell {
  white-space: nowrap;
  padding-right: 7px;
  padding-left: 7px;
  text-align: center;
  /*min-width: 100px;*/
}

.ds-table .mat-row {
  height: 32px;
}

.ds-table .mat-cell {
  white-space: nowrap;
  padding-right: 7px;
  padding-left: 7px;
}

.ds-table .cell-center {
  text-align: center;
}
.ds-table .cell-right {
  text-align: right;
}
.ds-table .cell-error {
  color: red;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 5px !important;
}

::ng-deep .mat-form-field-wrapper .mat-form-field-underline {
  bottom: 5px !important;
}

::ng-deep .mat-form-field-wrapper .mat-form-field-infix {
  padding: 5px !important;
}
