  <div class="section-badge">
      RIG
  </div>

<div class="container-top-bar" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
  
  <button mat-button color="warn" (click)="rkDeleteSelected()" [disabled]="!rk_selection.selected.length" *ngIf="pePermissionService.passPermission('pe/monitoring-rk/delete')">
    <mat-icon>delete</mat-icon> Delete Selected
  </button>
  <button mat-button color="secondary" (click)="rkExportExcel()" [disabled]="rk_isLoadingResults">
    <mat-icon>file_download</mat-icon> Export to Excel
  </button>
	<button mat-button color="tertiary" [disabled]="rk_isLoadingResults" [routerLink]="['/pe/monitoring-rk/chart']"><mat-icon>bar_chart</mat-icon>Chart</button>
</div>


<div class="container-content" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
  <div class="loading-shade" *ngIf="rk_isLoadingResults || rk_isRateLimitReached">
    <mat-spinner *ngIf="rk_isLoadingResults"></mat-spinner>
  </div>
  
  <div class="container-table" [style.max-height]="(commonService.Math.max(commonService.screenHeight - 180, 250))+'px'">
    <table mat-table [dataSource]="rk_data" class="pe-table" matSort matSortActive="plan_start" matSortDisableClear
      matSortDirection="desc" responsive="true" #rkSort="matSort">
        
        <!-- Kolom checkbox untuk seleksi -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" center>
              <mat-checkbox (change)="($event && !rk_isEditing) ? rkMasterToggle() : null"
                [checked]="rk_selection.hasValue() && rkIsAllSelected()"
                [indeterminate]="rk_selection.hasValue() && !rkIsAllSelected()" [aria-label]="rkCheckboxLabel()"
                [disabled]="rk_isEditing" *ngIf="pePermissionService.passPermission('pe/monitoring-rk/delete')">
              </mat-checkbox>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)="($event && !rk_isEditing) ? rk_selection.toggle(row) : null" [checked]="rk_selection.isSelected(row)"
                [aria-label]="rkCheckboxLabel(row)" [disabled]="rk_isEditing"
                *ngIf="pePermissionService.passPermission('pe/monitoring-rk/delete')">
              </mat-checkbox>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="well" sticky>
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Well</span>
              <app-xfilter title="Well" column="well" [selected]="well_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rk_selection.isSelected(row)">
            <ng-container *ngIf="!row.isEdit; else editWell">
              {{row.well}}
            </ng-container>
            <ng-template #editWell>
              <input matInput [(ngModel)]="row.well" list="bcWellList" (keydown.enter)="rkSave(row)" (keydown.escape)="rkCancel(row)" autofocus>
              <datalist id="bcWellList">
                <option *ngFor="let w of barchartWellList" [value]="w">{{w}}</option>
              </datalist>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="job">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Job</span>
              <app-xfilter title="Job" column="job" [selected]="job_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rk_selection.isSelected(row)">
            <ng-container *ngIf="!row.isEdit; else editJob">
              {{row.job}}
            </ng-container>
            <ng-template #editJob>
              <input matInput [(ngModel)]="row.job" list="bcJobList" (keydown.enter)="rkSave(row)" (keydown.escape)="rkCancel(row)" autofocus>
              <datalist id="bcJobList">
                <option *ngFor="let j of barchartJobList" [value]="j">{{j}}</option>
              </datalist>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="rig">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Rig</span>
              <app-xfilter title="Rig" column="rig" [selected]="rig_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rk_selection.isSelected(row)">
            <ng-container *ngIf="!row.isEdit; else editRig">
              {{row.rig}}
            </ng-container>
            <ng-template #editRig>
              <input matInput [(ngModel)]="row.rig" list="bcRigList" (keydown.enter)="rkSave(row)" (keydown.escape)="rkCancel(row)" autofocus>
              <datalist id="bcRigList">
                <option *ngFor="let r of barchartRigList" [value]="r">{{r}}</option>
              </datalist>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="pop">
          <th mat-header-cell *matHeaderCellDef rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">POP</span>
              <app-xfilter title="POP" column="pop" [selected]="pop_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rk_selection.isSelected(row)">
            <ng-container *ngIf="!row.isEdit; else editPop">
              {{row.pop ? (row.pop | date: 'dd MMM y') : '-'}}
            </ng-container>
            <ng-template #editPop>
              <input matInput [matDatepicker]="popDatepicker" [(ngModel)]="row.pop" (keydown.enter)="rkSave(row)" (keydown.escape)="rkCancel(row)" autofocus>
              <mat-datepicker-toggle matSuffix [for]="popDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #popDatepicker></mat-datepicker>
            </ng-template>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="target">
          <th mat-header-cell *matHeaderCellDef colspan="2">Target</th>
        </ng-container>
        
        <ng-container matColumnDef="target_oil">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Oil</span>
              <app-xfilter title="Target Oil" column="target_oil" [selected]="target_oil_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rk_selection.isSelected(row)">
            <ng-container *ngIf="!row.isEdit; else editTargetOil">
              {{row.target_oil || '-'}}
            </ng-container>
            <ng-template #editTargetOil>
              <input matInput [(ngModel)]="row.target_oil" (keydown.enter)="rkSave(row)" (keydown.escape)="rkCancel(row)" autofocus>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="target_gas">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gas</span>
              <app-xfilter title="Target Gas" column="target_gas" [selected]="target_gas_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rk_selection.isSelected(row)">
            <ng-container *ngIf="!row.isEdit; else editTargetGas">
              {{row.target_gas || '-'}}
            </ng-container>
            <ng-template #editTargetGas>
              <input matInput [(ngModel)]="row.target_gas" (keydown.enter)="rkSave(row)" (keydown.escape)="rkCancel(row)" autofocus>
            </ng-template>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="realisasi">
          <th mat-header-cell *matHeaderCellDef colspan="2">Realisasi</th>
        </ng-container>
        
        <ng-container matColumnDef="realisasi_oil">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Oil</span>
              <app-xfilter title="Realisasi Oil" column="realisasi_oil" [selected]="realisasi_oil_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rk_selection.isSelected(row)">
            <ng-container *ngIf="!row.isEdit; else editRealisasiOil">
              {{row.realisasi_oil || '-'}}
            </ng-container>
            <ng-template #editRealisasiOil>
              <input matInput [(ngModel)]="row.realisasi_oil" (keydown.enter)="rkSave(row)" (keydown.escape)="rkCancel(row)" autofocus>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="realisasi_gas">
          <th mat-header-cell *matHeaderCellDef>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gas</span>
              <app-xfilter title="Realisasi Gas" column="realisasi_gas" [selected]="realisasi_gas_xSelected"></app-xfilter>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rk_selection.isSelected(row)">
            <ng-container *ngIf="!row.isEdit; else editRealisasiGas">
              {{row.realisasi_gas || '-'}}
            </ng-container>
            <ng-template #editRealisasiGas>
              <input matInput [(ngModel)]="row.realisasi_gas" (keydown.enter)="rkSave(row)" (keydown.escape)="rkCancel(row)" autofocus>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef  rowspan="2">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span mat-sort-header arrowPosition="before" class="mat-sort-header">Remarks</span>
              <!-- <app-xfilter title="Remarks" column="remarks" [selected]="remarks_xSelected"></app-xfilter> -->
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rk_selection.isSelected(row)">
            <ng-container *ngIf="!row.isEdit; else editRemarks">
              {{row.remarks || '-'}}
            </ng-container>
            <ng-template #editRemarks>
              <input matInput [(ngModel)]="row.remarks" (keydown.enter)="rkSave(row)" (keydown.escape)="rkCancel(row)" autofocus>
            </ng-template>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="action" stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="cell-center action-column" rowspan="2">
            Action
          </th>
          <td mat-cell *matCellDef="let row" class="cell-center action-column">
            <button
              mat-icon-button
              color="primary"
              *ngIf="!row.isEdit && pePermissionService.passPermission('pe/monitoring-rk/add')"
              (click)="rkEdit(row)"
              matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <ng-container *ngIf="row.isEdit">
              <button
                mat-icon-button
                color="accent"
                (click)="rkSave(row)"
                matTooltip="Save">
                <mat-icon>check</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="rkCancel(row)"
                matTooltip="Cancel">
                <mat-icon>close</mat-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="headerColumns1; sticky: true"></tr>
        <tr mat-header-row *matHeaderRowDef="headerColumns2; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: rk_displayedColumns;" (click)="rk_selection.toggle(row)"></tr>
      </table>
    </div>
    <mat-paginator [length]="rk_resultsLength" [pageSize]="50" [pageSizeOptions]="[10, 25, 50, 100]" #rkPaginator></mat-paginator>
</div>

  <!-- ====== Rigless Table ====== -->
  <div class="section-badge">
      RIGLESS
  </div>

<div class="container-top-bar" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
  <button mat-button color="warn" (click)="rlDeleteSelected()" [disabled]="!rl_selection.selected.length" *ngIf="pePermissionService.passPermission('pe/monitoring-rk/delete')">
    <mat-icon>delete</mat-icon> Delete Selected
  </button>
</div>

<div class="container-content" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
  <div class="container-table" [style.max-height]="(commonService.Math.max(commonService.screenHeight - 180, 250))+'px'">
    <table mat-table [dataSource]="rl_dataSource" class="pe-table" matSort matSortDisableClear #rlSort="matSort">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef rowspan="2">
          <mat-checkbox (change)="($event && !rl_isEditing) ? rlMasterToggle() : null"
            [checked]="rl_selection.hasValue() && rlIsAllSelected()"
            [indeterminate]="rl_selection.hasValue() && !rlIsAllSelected()"
            [disabled]="rl_isEditing" *ngIf="pePermissionService.passPermission('pe/monitoring-rk/delete')">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="($event && !rl_isEditing) ? rl_selection.toggle(row) : null" [checked]="rl_selection.isSelected(row)"
            [disabled]="rl_isEditing"
            *ngIf="pePermissionService.passPermission('pe/monitoring-rk/delete')">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="well">
        <th mat-header-cell *matHeaderCellDef rowspan="2">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before" class="mat-sort-header">Well</span>
            <app-xfilter title="Well" column="rl_well" [selected]="rl_well_xSelected"></app-xfilter>
          </div>
        </th>
        <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rl_selection.isSelected(row)">
          <ng-container *ngIf="!row.isEdit; else editWell">
            {{row.well}}
          </ng-container>
          <ng-template #editWell>
            <input matInput [(ngModel)]="row.well" list="bcWellList" (keydown.enter)="rlSave(row)" (keydown.escape)="rlCancel(row)" autofocus>
            <datalist id="bcWellList">
              <option *ngFor="let w of barchartWellList" [value]="w">{{w}}</option>
            </datalist>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="job">
        <th mat-header-cell *matHeaderCellDef rowspan="2">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before" class="mat-sort-header">Job</span>
            <app-xfilter title="Job" column="rl_job" [selected]="rl_job_xSelected"></app-xfilter>
          </div>
        </th>
        <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rl_selection.isSelected(row)">
          <ng-container *ngIf="!row.isEdit; else editJob">
            {{row.job}}
          </ng-container>
          <ng-template #editJob>
            <input matInput [(ngModel)]="row.job" list="bcJobList" (keydown.enter)="rlSave(row)" (keydown.escape)="rlCancel(row)" autofocus>
            <datalist id="bcJobList">
              <option *ngFor="let j of barchartJobList" [value]="j">{{j}}</option>
            </datalist>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="rig">
        <th mat-header-cell *matHeaderCellDef rowspan="2">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before" class="mat-sort-header">Rig</span>
            <app-xfilter title="Rig" column="rl_rig" [selected]="rl_rig_xSelected"></app-xfilter>
          </div>
        </th>
        <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rl_selection.isSelected(row)">
          <ng-container *ngIf="!row.isEdit; else editRig">
            {{row.rig}}
          </ng-container>
          <ng-template #editRig>
            <input matInput [(ngModel)]="row.rig" list="bcRigList" (keydown.enter)="rlSave(row)" (keydown.escape)="rlCancel(row)" autofocus>
            <datalist id="bcRigList">
              <option *ngFor="let r of barchartRigList" [value]="r">{{r}}</option>
            </datalist>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="pop">
        <th mat-header-cell *matHeaderCellDef rowspan="2">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before" class="mat-sort-header">POP</span>
            <app-xfilter title="POP" column="rl_pop" [selected]="rl_pop_xSelected"></app-xfilter>
          </div>
        </th>
        <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rl_selection.isSelected(row)">
          <ng-container *ngIf="!row.isEdit; else editPop">
            {{row.pop ? (row.pop | date: 'dd MMM y') : '-'}}
          </ng-container>
          <ng-template #editPop>
            <input matInput [matDatepicker]="rlPopDatepicker" [(ngModel)]="row.pop" (keydown.enter)="rlSave(row)" (keydown.escape)="rlCancel(row)" autofocus>
            <mat-datepicker-toggle matSuffix [for]="rlPopDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #rlPopDatepicker></mat-datepicker>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="target">
        <th mat-header-cell *matHeaderCellDef colspan="2">Target</th>
      </ng-container>

      <ng-container matColumnDef="target_oil">
        <th mat-header-cell *matHeaderCellDef>
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before" class="mat-sort-header">Oil</span>
            <app-xfilter title="Target Oil" column="rl_target_oil" [selected]="rl_target_oil_xSelected"></app-xfilter>
          </div>
        </th>
        <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rl_selection.isSelected(row)">
          <ng-container *ngIf="!row.isEdit; else editTargetOil">
            {{row.target_oil || '-'}}
          </ng-container>
          <ng-template #editTargetOil>
            <input matInput [(ngModel)]="row.target_oil" (keydown.enter)="rlSave(row)" (keydown.escape)="rlCancel(row)" autofocus>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="target_gas">
        <th mat-header-cell *matHeaderCellDef>
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gas</span>
            <app-xfilter title="Target Gas" column="rl_target_gas" [selected]="rl_target_gas_xSelected"></app-xfilter>
          </div>
        </th>
        <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rl_selection.isSelected(row)">
          <ng-container *ngIf="!row.isEdit; else editTargetGas">
            {{row.target_gas || '-'}}
          </ng-container>
          <ng-template #editTargetGas>
            <input matInput [(ngModel)]="row.target_gas" (keydown.enter)="rlSave(row)" (keydown.escape)="rlCancel(row)" autofocus>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="realisasi">
        <th mat-header-cell *matHeaderCellDef colspan="2">Realisasi</th>
      </ng-container>

      <ng-container matColumnDef="realisasi_oil">
        <th mat-header-cell *matHeaderCellDef>
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before" class="mat-sort-header">Oil</span>
            <app-xfilter title="Realisasi Oil" column="rl_realisasi_oil" [selected]="rl_realisasi_oil_xSelected"></app-xfilter>
          </div>
        </th>
        <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rl_selection.isSelected(row)">
          <ng-container *ngIf="!row.isEdit; else editRealisasiOil">
            {{row.realisasi_oil || '-'}}
          </ng-container>
          <ng-template #editRealisasiOil>
            <input matInput [(ngModel)]="row.realisasi_oil" (keydown.enter)="rlSave(row)" (keydown.escape)="rlCancel(row)" autofocus>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="realisasi_gas">
        <th mat-header-cell *matHeaderCellDef>
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before" class="mat-sort-header">Gas</span>
            <app-xfilter title="Realisasi Gas" column="rl_realisasi_gas" [selected]="rl_realisasi_gas_xSelected"></app-xfilter>
          </div>
        </th>
        <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rl_selection.isSelected(row)">
          <ng-container *ngIf="!row.isEdit; else editRealisasiGas">
            {{row.realisasi_gas || '-'}}
          </ng-container>
          <ng-template #editRealisasiGas>
            <input matInput [(ngModel)]="row.realisasi_gas" (keydown.enter)="rlSave(row)" (keydown.escape)="rlCancel(row)" autofocus>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef rowspan="2">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span mat-sort-header arrowPosition="before" class="mat-sort-header">Remarks</span>
            <app-xfilter title="Remarks" column="rl_remarks" [selected]="rl_remarks_xSelected"></app-xfilter>
          </div>
        </th>
        <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="rl_selection.isSelected(row)">
          <ng-container *ngIf="!row.isEdit; else editRemarks">
            {{row.remarks || '-'}}
          </ng-container>
          <ng-template #editRemarks>
            <input matInput [(ngModel)]="row.remarks" (keydown.enter)="rlSave(row)" (keydown.escape)="rlCancel(row)" autofocus>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="cell-center action-column" rowspan="2">
          Action
        </th>
        <td mat-cell *matCellDef="let row" class="cell-center action-column">
          <button
            mat-icon-button
            color="primary"
            *ngIf="!row.isEdit && pePermissionService.passPermission('pe/monitoring-rk/add')"
            (click)="rlEdit(row)"
            matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <ng-container *ngIf="row.isEdit">
            <button
              mat-icon-button
              color="accent"
              (click)="rlSave(row)"
              matTooltip="Save">
              <mat-icon>check</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="rlCancel(row)"
              matTooltip="Cancel">
              <mat-icon>close</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="rl_headerColumns1; sticky: true"></tr>
      <tr mat-header-row *matHeaderRowDef="rl_headerColumns2; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: rl_displayedColumns;" (click)="rl_selection.toggle(row)"></tr>
    </table>
  </div>
  <mat-paginator [length]="rl_resultsLength" [pageSize]="50" [pageSizeOptions]="[10, 25, 50, 100]" #rlPaginator></mat-paginator>
</div>
