<div class="container-top-bar" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'" >
  <!-- Dropdown chart type -->
  <mat-form-field class="filter" floatLabel="never">
    <mat-label>Chart Type</mat-label>
    <mat-select [(value)]="selectedChartType" (selectionChange)="onChartTypeChange()">
      <mat-option *ngFor="let ct of chartTypes" [value]="ct.value">
        {{ ct.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button [routerLink]="['/pe/monitoring-rk/list']">
    <mat-icon>list</mat-icon> Back to List
  </button>
</div>

<div class="container-content" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
  
  <!-- Loading Indicator -->
  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Column Chart: 4 grouped columns per well -->
   <mat-card class="chart-card">
    <div class="chart-card" [hidden]="isLoading || chartData.length === 0">
      <div #columnChart class="per_area_chart"></div>
    </div>
  </mat-card>

  <!-- Selisih Chart: persentase selisih -->
   <mat-card class="chart-card">
    <div class="chart-card" [hidden]="isLoading || chartData.length === 0" style="margin-top: 16px;">
      <div #selisihChart class="per_area_chart"></div>
    </div>
  </mat-card>

  <!-- No Data Message -->
  <div *ngIf="!isLoading && chartData.length === 0" class="no-data">
    <mat-icon>info</mat-icon>
    <p>No data available.</p>
  </div>
</div>
