<div class="container-top-bar" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
  <!--mat-form-field>
    <input matInput placeholder="Filter" [formControl]="filterControl">
  </mat-form-field-->
  <button mat-button color="primary" [disabled]="isLoadingResults" [routerLink]="['/pe/sensor/add']" *ngIf="pePermissionService.passPermission('pe/sensor/add')"><mat-icon>add</mat-icon> Add/Edit</button>
  <button mat-button color="warn" (click)="deleteSelected()" [disabled]="!selection.selected.length" *ngIf="pePermissionService.passPermission('pe/sensor/delete')"><mat-icon>delete</mat-icon> Delete Selected</button>
  <button mat-button color="secondary" (click)="exportExcel()" [disabled]="isLoadingResults"><mat-icon>file_download</mat-icon> Export to Excel</button>
</div>

<div class="container-content" [ngClass.gt-sm]="'top-flow'" [ngClass.lt-md]="'top-flow-xs'">
  
  <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="container-table" [style.max-height]="(commonService.Math.max(commonService.screenHeight - 180, 250))+'px'">

    <table mat-table [dataSource]="data" class="pe-table"
    matSort matSortActive="date" matSortDisableClear matSortDirection="desc">

    <ng-container matColumnDef="select" sticky>
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="($event && !isEditing) ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
          [disabled]="isEditing" *ngIf="pePermissionService.passPermission('pe/daily/delete')">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="($event && !isEditing) ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
          [disabled]="isEditing" *ngIf="pePermissionService.passPermission('pe/daily/delete')">
        </mat-checkbox>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="date" sticky>
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Date</span>
          <app-xfilter title="Date" column="date" format="date" [selected]="date_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.date ? (row.date | date: 'dd MMM y') : '-'}}</td>
    </ng-container>

    <ng-container matColumnDef="well" sticky>
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Well</span>
          <app-xfilter title="Well" column="well" [selected]="well_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.well}}</td>
    </ng-container>

   <ng-container matColumnDef="freq">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Freq (Hz)</span>
          <app-xfilter title="freq" column="freq" format="number" [selected]="freq_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.freq | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="load">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Load (A)</span>
          <app-xfilter title="load" column="load" format="number" [selected]="load_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.load | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="pi">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">PI (psi)</span>
          <app-xfilter title="pi" column="pi" format="number" [selected]="pi_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.pi | number : '1.0-0') || '-'}}</td>
   </ng-container>

   <ng-container matColumnDef="ti">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">TI (F)</span>
          <app-xfilter title="ti" column="ti" format="number" [selected]="ti_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.ti | number : '1.0-0') || '-'}}</td>
   </ng-container>

    <ng-container matColumnDef="esp">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">ESP</span>
          <app-xfilter title="ESP" column="esp" format="number" [selected]="esp_xSelected"></app-xfilter>
        </div>
     </th>
      <td mat-cell *matCellDef="let row" class="cell-center" [class.clicked_row]="selection.isSelected(row)">{{row.esp}}</td>
    </ng-container>

   <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span mat-sort-header arrowPosition="before" class="mat-sort-header">Capacity</span>
          <app-xfilter title="Capacity" format="number" column="capacity" [selected]="capacity_xSelected"></app-xfilter>
        </div>
     </th>
     <td mat-cell *matCellDef="let row" class="cell-right" [class.clicked_row]="selection.isSelected(row)">{{(row.capacity | number : '1.0-2') || '-'}}</td>
   </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>   
      <td mat-cell *matCellDef="let row"> 
       <!--button mat-button *ngIf="passPermission('/pe/sensor/edit')" [routerLink]="['/', 'presence','device', 'edit', row.PE_TICKET_ID]" matTooltip="Edit Device" ><mat-icon>edit</mat-icon></button> 
       <button mat-button *ngIf="passPermission('/pe/sensor/delete')" (click)="deletePeSensor(row.PE_TICKET_ID)" matTooltip="Delete Device"><mat-icon>delete</mat-icon></button--> 
     </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="(!isEditing) ? selection.toggle(row) : null"></tr>
 </table>
</div>

<mat-paginator [length]="resultsLength"  [pageSizeOptions]="[50, 100, 500, 1000]"></mat-paginator>
<router-outlet></router-outlet>
  <router-outlet name="overlay2"></router-outlet>
</div>
