/* form */

mat-card { 
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

mat-progress-bar {
  width: 332px;
}

mat-form-field {
   width: 250px;
}

::ng-deep .mat-card-header-text {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

mat-card-content {
  
}

mat-card-actions {
  margin-left: 0;
  margin-right: 0;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.clicked_row {
  background-color: lightgreen;
}

.container-content {
  padding: 5px;
  box-shadow: 0 2px 1px -1px rgb(255, 0, 0), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  background-color: white;
  border-radius: 8px;
}


ng::host .mat-horizontal-stepper-content {
  display: flex !important;
  align-items: center !important;
}

.margin-10 {
  margin-right: 10px;
}

.progress-bar {
  margin-top: 20px;
}



