<!-- <p>ipr works!</p> -->
<div
fxLayout="row"
fxLayout.lt-lg="column"
fxLayoutGap="10px"
fxLayoutAlign="start stretch"
>
<mat-card fxFlex="35" class="dasboard_card">
  <mat-card-content>
    <!-- Filter Form Section -->
    <div
    class="filter-form"
    fxLayout="column"
    fxLayoutGap="10px"
    fxLayoutAlign="start start"
    fxLayout.lt-md="column"
    >
    <h3>Perforation Depth</h3>
    
    <mat-form-field class="field-well">
      <mat-label>Well</mat-label>
      <input matInput [(ngModel)]="well_xSelected" disabled />
      <app-xfilter
      title="Well"
      column="well"
      [selected]="well_xSelected"
      ></app-xfilter>
    </mat-form-field>
    
      <mat-form-field class="filter">
        <mat-label>Start Date</mat-label>
        <input
          matInput
          class="input-hidden"
          [matDatepicker]="start_datePicker"
          [formControl]="start_dateControl"
          (dateChange)="start_dateChange($event)"
          disabled
        />
        <input matInput [(ngModel)]="start_dateInput" disabled />
        <mat-datepicker-toggle
          matSuffix
          [for]="start_datePicker"
          [disabled]="isLoadingResults"
        ></mat-datepicker-toggle>
        <mat-datepicker #start_datePicker disabled="false"></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field class="filter">
        <mat-label>End Date</mat-label>
        <input
          matInput
          class="input-hidden"
          [matDatepicker]="end_datePicker"
          [formControl]="end_dateControl"
          (dateChange)="end_dateChange($event)"
          disabled
        />
        <input matInput [(ngModel)]="end_dateInput" disabled />
        <mat-datepicker-toggle
          matSuffix
          [for]="end_datePicker"
          [disabled]="isLoadingResults"
        ></mat-datepicker-toggle>
        <mat-datepicker #end_datePicker disabled="false"></mat-datepicker>
      </mat-form-field>
      
        <mat-form-field class="filter">
          <mat-label>Zone</mat-label>
          <input matInput [formControl]="zone" placeholder="Zone" readonly />
        </mat-form-field>
        <mat-form-field class="filter">
          <mat-label>Interval</mat-label>
          <input
            matInput
            [formControl]="interval"
            placeholder="Interval"
            readonly
          />
        </mat-form-field>

        <!-- Top Perforation Depth -->
        <mat-form-field class="filter">
          <mat-label>Top Perforation Depth</mat-label>
          <input
            matInput
            [formControl]="top_perforation_depth"
            type="number"
            step="0.01"
            inputmode="decimal"
            placeholder="Top Perforation Depth"
            (change)="perforationChange()"
          />
          <span matSuffix>m</span>
        </mat-form-field>

        <!-- Bottom Perforation Depth -->
        <mat-form-field class="filter">
          <mat-label>Bottom Perforation Depth</mat-label>
          <input
            matInput
            [formControl]="bottom_perforation_depth"
            type="number"
            step="0.01"
            inputmode="decimal"
            placeholder="Bottom Perforation Depth"
            (change)="perforationChange()"
          />
          <span matSuffix>m</span>
        </mat-form-field>

        <!-- Perforation Depth Reference (disabled input; keep binding to its FormControl) -->
        <mat-form-field class="filter">
          <mat-label>Perforation Depth Reference</mat-label>
          <input
            matInput
            [value]="perforation_depth_reference?.value"
            type="number"
            step="0.01"
            inputmode="decimal"
            placeholder="Perforation Depth Reference"
            disabled
          />
          <span matSuffix>m</span>
        </mat-form-field>

        <h3>Test Data</h3>


        <!-- Gross Average -->
        <mat-form-field class="filter">
          <mat-label>Gross Average</mat-label>
          <input
            matInput
            [value]="dailyAverages?.length ? dailyAverages[0]?.grossAvg : ''"
            disabled
          />
          <span matSuffix>BFPD</span>
        </mat-form-field>

        <!-- Net Average -->
        <mat-form-field class="filter">
          <mat-label>Net Average</mat-label>
          <input
            matInput
            [value]="dailyAverages?.length ? dailyAverages[0]?.netAvg : ''"
            disabled
          />
          <span matSuffix>BOPD</span>
        </mat-form-field>

        <!-- WC Average -->
        <mat-form-field class="filter">
          <mat-label>WC Average</mat-label>
          <input
            matInput
            [value]="dailyAverages?.length ? dailyAverages[0]?.wcAvg + '%': ''"
            disabled
          />
          <span matSuffix>%</span>
        </mat-form-field>

        <mat-form-field class="filter">
          <mat-label>Static Fluid Level</mat-label>
          <input
            matInput
            [formControl]="static_fluid_level"
            type="number"
            step="0.01"
            inputmode="decimal"
            placeholder="Static Fluid Level"
            (change)="testData()"
          />
          <span matSuffix>m</span>
        </mat-form-field>

        <!-- Bottom Perforation Depth -->
        <mat-form-field class="filter">
          <mat-label>Dynamic Fluid Level</mat-label>
          <input
            matInput
            [formControl]="dynamic_fluid_level"
            type="number"
            step="0.01"
            inputmode="decimal"
            placeholder="Dynamic Fluid Level"
            (change)="testData()"
          />
          <span matSuffix>m</span>
        </mat-form-field>
        <mat-form-field class="filter">
          <mat-label>Static Bottomhole Pressure</mat-label>
          <input
            matInput
            [value]="static_botthomhole_pressure?.value"
            type="number"
            step="0.01"
            inputmode="decimal"
            placeholder="Static Bottomhole Pressure"
            disabled
          />
          <span matSuffix>psi</span>
        </mat-form-field>
        <mat-form-field class="filter">
          <mat-label>Flowing Bottomhole Pressure</mat-label>
          <input
            matInput
            [value]="flowing_bottomhole_pressure?.value"
            type="number"
            step="0.01"
            inputmode="decimal"
            placeholder="Flowing Bottomhole Pressure"
            disabled
          />
          <span matSuffix>psi</span>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- right: IPR chart -->
  <mat-card fxFlex="65" class="dasboard_card" style="width: 100%;">
    <mat-card-content
      style="height: 500px; display: flex; flex-direction: column; width: 100%"
    >
      <h3>IPR Chart</h3>
      <!-- chart container grows to fill card content -->
      <div style="flex: 1; min-height: 200px">
        <div #ipr_chart_el style="width: 100%; height: 100%"></div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
