.container {
  /*position: relative;*/
  min-height: 200px;
  margin: 2em;
}

.container-top-bar {
  /*position: relative;*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-top-bar button {
  margin: 16px;
}

.container-top-bar button:first-of-type {
  margin-left: 0px !important;
}

.container-top-bar button:first-of-type .mat-icon {
  font-size: 22px;
}

.container-content {
  position: relative;
  min-height: 200px;
}

/* form */

mat-card { 
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

mat-progress-bar {
  width: 332px;
  margin: -16px 0 16px 0 !important;
}

mat-form-field {
   width: 250px;
}

::ng-deep .mat-card-header-text {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

mat-card-content {
  
}

mat-card-actions {
  margin-left: 0;
  margin-right: 0;
}

/* list */

.container-table {
  /*position: relative;*/
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.input-hidden {
    position: absolute;
    width: 0px;
    border: none;
    height: 100%;
}

.cell-right {
  text-align: right;
}